[2019-09-07 00:51] SilasReinagel opened #1 "Setup Github Labels"

[2019-09-07 00:52] SilasReinagel opened #2 "Setup Kanban Board"

[2019-09-07 00:52] SilasReinagel opened #3 "Setup Blank Unity Project + Update README"

[2019-09-07 01:05] #1 closed

[2019-09-07 01:21] #3 closed

[2019-09-07 01:32] SilasReinagel opened #6 "Create Title Scene"
Title Label
Start Game Button
Exit Game Button
Options Button

[2019-09-07 01:33] SilasReinagel opened #7 "Create Game Scene"
Next Battle Button
Deck Builder Button

[2019-09-07 01:33] SilasReinagel opened #8 "Create Battle Scene"
Win Button
Lose Button

[2019-09-07 01:35] SilasReinagel opened #9 "Create Party Selection Scene"
3 Slots for Characters, Left-To-Right
Confirm Button

[2019-09-07 01:36] SilasReinagel opened #10 "Create Deck Builder Scene"
Placeholder Decklist Rectangle
Placeholder Card Book Rectangle
Done Button

[2019-09-07 01:36] SilasReinagel opened #11 "Create Victory Scene"
Victory Label
Panel For Selecting Permanent Upgrade
Main Menu Button

[2019-09-07 01:36] SilasReinagel opened #12 "Create Defeat Scene"
Defeat Label
Back to Main Menu Button

[2019-09-07 01:43] #2 closed

[2019-09-07 17:05] SilasReinagel opened #14 "Setup 0crat Integration"

[2019-09-09 15:53] SilasReinagel opened #15 "Setup Unity CI Build"
Estimate: 30 minutes, role: DEV.

[2019-09-09 15:54] SilasReinagel commented on #14
Estimate: 60 minutes, role: DEV

[2019-09-09 16:04] paulodamaso commented on #14
@0crat status

[2019-09-09 16:10] 0crat commented on #14
@paulodamaso This is what I know about this job in [CN3V1M4AU](https://www.0crat.com/p/CN3V1M4AU), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#14](https://github.com/enigmadragons/projectneon/issues/14) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CN3V1M4AU?q=%7Bjob%3A%27gh%3Aenigmadragons%2Fprojectneon%2314%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D

[2019-09-09 16:12] paulodamaso commented on #14
@0crat in

[2019-09-09 16:15] 0crat commented on #14
@paulodamaso Job [#14](https://github.com/enigmadragons/projectneon/issues/14) is now in scope, role is `DEV`

[2019-09-09 16:15] 0crat commented on #14
@paulodamaso There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.8](https://github.com/zerocracy/farm): CID: [c86e4451-4b75-4093-ac61-aa147428553d](https://www.0crat.com/footprint/CN3V1M4AU/c86e4451-4b75-4093-ac61-aa147428553d), Type: "Job was added to WBS"

[2019-09-09 16:16] 0crat commented on #14
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 16:43] 0crat commented on #14
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) everybody who has role `DEV` is banned at [#14](https://github.com/enigmadragons/projectneon/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from

[2019-09-09 17:53] SilasReinagel commented on #14
@0crat boost 2x

[2019-09-09 17:53] 0crat commented on #14
@SilasReinagel Current boost factor of [#14](https://github.com/enigmadragons/projectneon/issues/14) is 2x, nothing changed

[2019-09-09 17:54] 0crat commented on #14
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 17:54] 0crat commented on #14
The job [#14](https://github.com/enigmadragons/projectneon/issues/14) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/8c108263-36be-43be-8059-d0ce0c316d00); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-09 17:55] 0crat commented on #14
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 18:04] SilasReinagel commented on #14
@0crat boost 4x

[2019-09-09 18:05] 0crat commented on #14
@SilasReinagel Boost 4x was set for [#14](https://github.com/enigmadragons/projectneon/issues/14)

[2019-09-09 18:05] 0crat commented on #14
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 19:19] SilasReinagel opened #16 "Game Screens Flow Documents"
Role: ARC

[2019-09-09 19:19] SilasReinagel opened #17 "Create Battle Engine High Level Design Document"
Role: ARC

[2019-09-09 19:20] SilasReinagel opened #18 "Create UI Guidelines Document"
Role: ARC

[2019-09-09 19:25] SilasReinagel opened #19 "High-Level Design 1 Character Class"
Class should have three basic mechanic types. (i.e. Rifles, Healing, Tanking, Buffing, Hacking, Environment Effects, Grenades, Magic, Tech Gadgets, Summoning, etc)

Document the basic concept of the class, with brief descriptions about their three core mechanics.

Role: DESIGN
Estimate: 30 minutes

[2019-09-09 19:25] SilasReinagel opened #20 "High-Level Design - 2nd Character Class"
Class should have three basic mechanic types. (i.e. Rifles, Healing, Tanking, Buffing, Hacking, Environment Effects, Grenades, Magic, Tech Gadgets, Summoning, etc)

Document the basic concept of the class, with brief descriptions about their three core mechanics.

Role: DESIGN
Estimate: 30 minutes

[2019-09-09 19:25] SilasReinagel opened #21 "High-Level Design - 3rd Character Class"
Class should have three basic mechanic types. (i.e. Rifles, Healing, Tanking, Buffing, Hacking, Environment Effects, Grenades, Magic, Tech Gadgets, Summoning, etc)

Document the basic concept of the class, with brief descriptions about their three core mechanics.

Role: DESIGN
Estimate: 30 minutes

[2019-09-09 19:27] SilasReinagel opened #22 "High-Level Design: General Game Mechanics/Effects"
Create a list of all basic effect types that might appear on card. (X Damage, X% Damage, X Heal, Apply X Debuff for X Turns, Apply X Buff for X Turns, etc.)

List should have at least 10-25 different types of effects.

Role: DESIGN
Estimate: 30 minutes

[2019-09-09 19:30] SilasReinagel opened #23 "High-Level Design: Party Upgrade Path Ideas"
Write up some a pathway of progression/choices that will happen through a playthrough.

List the kinds of choices that will happen, and at which point in the run.

Example:
Game Start: Select Party of 3
Lv2: Select new Focus Card for Character
Lv3: Select Permanent Stat Upgrade
Final Mission: Select from three battle strategies before fight starts
Game Victory: Select 1 Permanent Unlockable Bonus

[2019-09-09 19:44] SilasReinagel opened #25 "Backend: Create Party. Allow party to have 1-3 Characters"
Could be using Scriptable Objects.

Character should be a GameObject. Doesn't need any attributes yet.
Should be able to set any of the Character slots to any Character.
First Character should be an instance of NoCharacter.

Role: DEV
Estimate: 15 minutes

[2019-09-09 19:48] #14 closed

[2019-09-09 19:53] SilasReinagel commented on #25
@0crat in
@0crat boost 1x

[2019-09-09 19:55] paulodamaso opened #26 "Set up 0pdd integration"
We need to set up 0ppd so we can manage micro tasking and use puzzle-driven development concepts in the project. This will allow to users leave puzzles into the codebase that will be fetched by 0pdd bot on each merge and added as issues to the github repository. Once the puzzle disappears from the codebase it is automatically closed.

[2019-09-09 19:55] SilasReinagel opened #27 "Battle Setup: 1. Shuffle player deck, and each individual enemy deck"
Role: DEV

[2019-09-09 19:56] SilasReinagel opened #28 "Battle Setup: Player's party characters are shown on the left-side of the screen in traditional JRPG battle view"
Use greybox character squares for now, or placeholder images.

[2019-09-09 19:57] SilasReinagel opened #29 "Battle Setup: Enemy characters are shown on the right-right of the screen in traditional JRPG battle view"
Role: DEV

Must trigger upon `BattleSetupStarted`
Must place them in a nice layout, even with 1-5 characters.
Must align with background.
Must broadcast event when finished like `BattleSetupEnemyPartyEntered` or similar

[2019-09-09 19:57] paulodamaso commented on #14
@0crat status

[2019-09-09 19:58] SilasReinagel opened #30 "Battle Setup: Player visibly draws a hand of 6 cards from his deck"
Can use greybox cards or placeholders for now.

Should slide-in from the right side of the screen.

Cards should be spaced so that all are visible.

Estimate: 30 minutes

[2019-09-09 19:59] 0crat commented on #25
@SilasReinagel Argument "@0crat" doesn't match regex `[A-Z]{2,3}`

[2019-09-09 20:00] SilasReinagel opened #31 "Battle: Create placeholder card that deals 10 damage and integrate with battle system."
Must have Name, Description Text and working Effect.

Must be able to put 8 of these in a Player Character deck.

[2019-09-09 20:00] SilasReinagel commented on #26
Role: DEV
Estimate 15 minutes

@0crat boost 1x

[2019-09-09 20:00] SilasReinagel commented on #26
@0crat in

[2019-09-09 20:00] 0crat commented on #26
Are you speaking to me or about me [here](https://github.com/EnigmaDragons/ProjectNeon/issues/26#issuecomment-529641633); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-09-09 20:01] SilasReinagel commented on #26
@0crat boost 1x

[2019-09-09 20:03] 0crat commented on #14
@paulodamaso This is what I know about this job in [CN3V1M4AU](https://www.0crat.com/p/CN3V1M4AU), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#14](https://github.com/enigmadragons/projectneon/issues/14) is [in scope](http://www.zerocracy.com/policy.html#14) for 4hr
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [2

[2019-09-09 20:05] SilasReinagel commented on #25
@0crat in

[2019-09-09 20:05] SilasReinagel commented on #25
@0crat boost 1x

[2019-09-09 20:05] 0crat commented on #26
@SilasReinagel Job [#26](https://github.com/enigmadragons/projectneon/issues/26) is now in scope, role is `DEV`

[2019-09-09 20:05] 0crat commented on #26
@SilasReinagel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.8](https://github.com/zerocracy/farm): CID: [8743e5e7-a60b-45cf-8af0-25872fcd7fdd](https://www.0crat.com/footprint/CN3V1M4AU/8743e5e7-a60b-45cf-8af0-25872fcd7fdd), Type: "Set boost"

[2019-09-09 20:06] 0crat commented on #26
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 20:18] 0crat commented on #25
@SilasReinagel Boost 1x was set for [#25](https://github.com/enigmadragons/projectneon/issues/25)

[2019-09-09 20:18] 0crat commented on #14
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-09 20:18] 0crat commented on #25
@SilasReinagel Job [#25](https://github.com/enigmadragons/projectneon/issues/25) is now in scope, role is `DEV`

[2019-09-09 20:35] 0crat commented on #26
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-09 20:35] 0crat commented on #25
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 20:36] 0crat commented on #14
The job [#14](https://github.com/enigmadragons/projectneon/issues/14) is now out of scope

[2019-09-09 20:37] 0crat commented on #14
Order was finished: +65 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-09 20:40] 0crat commented on #25
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 20:40] 0crat commented on #14
Job `gh:enigmadragons/projectneon#14` doesn't exist in WBS, can't create order

[2019-09-09 20:40] paulodamaso commented on #26
@SilasReinagel PLease take a look at this article

[2019-09-09 20:47] 0crat commented on #26
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) everybody who has role `DEV` is banned at [#26](https://github.com/enigmadragons/projectneon/issues/26); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from

[2019-09-09 20:47] 0crat commented on #25
The job [#25](https://github.com/enigmadragons/projectneon/issues/25) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/f01e58a0-c7f7-4e9a-bb4a-f2cd002c5bc1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-09 20:55] 0crat commented on #22
You @kazamaru[/z](https://www.0crat.com/u/kazamaru) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-09 22:21] SilasReinagel commented on #6
@0crat boost 1x

[2019-09-09 22:21] SilasReinagel commented on #6
@0crat in

[2019-09-09 22:21] 0crat commented on #6
@SilasReinagel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.8](https://github.com/zerocracy/farm): CID: [844df2ff-1e58-40c1-903f-d6e10afced93](https://www.0crat.com/footprint/CN3V1M4AU/844df2ff-1e58-40c1-903f-d6e10afced93), Type: "Set boost"

[2019-09-09 22:22] 0crat commented on #6
@SilasReinagel Job [#6](https://github.com/enigmadragons/projectneon/issues/6) is now in scope, role is `DEV`

[2019-09-09 22:22] 0crat commented on #6
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 22:23] 0crat commented on #6
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 22:24] SilasReinagel commented on #7
@0crat boost 1x

[2019-09-09 22:24] SilasReinagel commented on #7
@0crat in

[2019-09-09 22:25] 0crat commented on #7
@SilasReinagel Job [#7](https://github.com/enigmadragons/projectneon/issues/7) is now in scope, role is `DEV`

[2019-09-09 22:25] 0crat commented on #7
@SilasReinagel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.8](https://github.com/zerocracy/farm): CID: [a35cf385-0959-496c-9b9e-5f2c2b46a63b](https://www.0crat.com/footprint/CN3V1M4AU/a35cf385-0959-496c-9b9e-5f2c2b46a63b), Type: "Set boost"

[2019-09-09 22:25] 0crat commented on #7
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 22:26] 0crat commented on #7
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 22:27] 0crat commented on #6
The job [#6](https://github.com/enigmadragons/projectneon/issues/6) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/eb6d7ebc-fb1d-4d93-80bd-f6eeb0a8d3db); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-09-09 22:34] SilasReinagel commented on #6
@0crat boost 1x

[2019-09-09 22:35] 0crat commented on #6
@SilasReinagel Boost 1x was set for [#6](https://github.com/enigmadragons/projectneon/issues/6)

[2019-09-09 22:35] 0crat commented on #6
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 22:47] SilasReinagel commented on #7
@0crat boost 1x

[2019-09-09 22:50] 0crat commented on #7
@SilasReinagel Boost 1x was set for [#7](https://github.com/enigmadragons/projectneon/issues/7)

[2019-09-09 22:51] 0crat commented on #7
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-09 22:59] 0crat commented on #26
The job [#26](https://github.com/enigmadragons/projectneon/issues/26) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/ecbb00da-91a1-4dfb-b692-596d9cab5e9b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-09 23:00] 0crat commented on #26
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 00:06] 0crat commented on #16
The job [#16](https://github.com/enigmadragons/projectneon/issues/16) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/bee4d9d0-8b62-49dc-b44e-eb41271b2fd1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-10 00:07] 0crat commented on #16
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 00:08] 0crat commented on #16
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 00:09] 0crat commented on #16
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 01:10] #16 closed

[2019-09-10 01:10] #26 closed

[2019-09-10 01:20] SilasReinagel opened #33 "Create Detailed Dev QuickStart Instructions"

[2019-09-10 01:27] 0crat commented on #16
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-10 01:27] 0crat commented on #26
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-10 01:28] 0crat commented on #26
The job [#26](https://github.com/enigmadragons/projectneon/issues/26) is now out of scope

[2019-09-10 01:28] 0crat commented on #16
The job [#16](https://github.com/enigmadragons/projectneon/issues/16) is now out of scope

[2019-09-10 01:28] 0crat commented on #16
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 01:28] 0crat commented on #26
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 06:37] SilasReinagel commented on #8
@0crat in

[2019-09-10 06:37] 0crat commented on #8
You must be invited in order to do that, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-09-10 06:37] SilasReinagel commented on #8
@0crat boost 1x

[2019-09-10 06:37] 0crat commented on #8
You must be invited in order to do that, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-09-10 06:37] SilasReinagel commented on #10
@0crat in

[2019-09-10 06:38] SilasReinagel commented on #10
@0crat boost 1x

[2019-09-10 06:38] 0crat commented on #10
You must be invited in order to do that, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-09-10 06:38] 0crat commented on #10
You must be invited in order to do that, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-09-10 06:38] SilasReinagel commented on #9
@0crat in

[2019-09-10 06:38] 0crat commented on #9
You must be invited in order to do that, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-09-10 06:38] SilasReinagel commented on #9
@0crat boost 1x

[2019-09-10 06:38] 0crat commented on #9
You must be invited in order to do that, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-09-10 06:56] 0crat commented on #33
The job [#33](https://github.com/enigmadragons/projectneon/issues/33) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/d672d722-1865-46f0-ad8b-a80fc3916c6e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-10 06:56] #33 closed

[2019-09-10 06:57] 0crat commented on #33
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 06:59] 0crat commented on #33
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 07:01] 0crat commented on #33
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 07:14] 0crat commented on #33
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-10 07:15] 0crat commented on #33
The job [#33](https://github.com/enigmadragons/projectneon/issues/33) is now out of scope

[2019-09-10 07:15] 0crat commented on #33
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 07:42] 0crat commented on #10
The job [#10](https://github.com/enigmadragons/projectneon/issues/10) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/7a4117e6-cddd-46aa-8f9d-19cc884cb2ce); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-10 07:43] 0crat commented on #10
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 07:43] 0crat commented on #10
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 07:43] #10 closed

[2019-09-10 07:43] 0crat commented on #10
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 08:00] 0crat commented on #10
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-10 08:00] 0crat commented on #10
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 08:00] 0crat commented on #10
The job [#10](https://github.com/enigmadragons/projectneon/issues/10) is now out of scope

[2019-09-10 08:48] g4s8 commented on #8
@0crat status

[2019-09-10 08:51] 0crat commented on #8
@g4s8 This is what I know about this job in [CN3V1M4AU](https://www.0crat.com/p/CN3V1M4AU), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#8](https://github.com/enigmadragons/projectneon/issues/8) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CN3V1M4AU?q=%7Bjob%3A%27gh%3Aenigmadragons%2Fprojectneon%238%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (rest

[2019-09-10 15:51] 0crat commented on #7
The job [#7](https://github.com/enigmadragons/projectneon/issues/7) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/ebb0c52b-47a2-41bd-bd58-5275898e9f61); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-09-10 19:27] SilasReinagel commented on #8
@0crat in

[2019-09-10 19:29] SilasReinagel commented on #8
@0crat boost 1x

[2019-09-10 19:30] 0crat commented on #8
@SilasReinagel Job [#8](https://github.com/enigmadragons/projectneon/issues/8) is now in scope, role is `DEV`

[2019-09-10 19:32] 0crat commented on #8
@SilasReinagel Boost 1x was set for [#8](https://github.com/enigmadragons/projectneon/issues/8)

[2019-09-10 19:32] SilasReinagel commented on #9
@0crat in

[2019-09-10 19:33] SilasReinagel commented on #9
@0crat boost 1x

[2019-09-10 19:36] 0crat commented on #8
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 19:37] SilasReinagel commented on #11
@0crat in

[2019-09-10 19:37] SilasReinagel commented on #11
@0crat boost 1x

[2019-09-10 19:38] SilasReinagel commented on #12
@0crat in

[2019-09-10 19:38] SilasReinagel commented on #12
@0crat boost 1x

[2019-09-10 19:40] SilasReinagel commented on #15
@0crat in

[2019-09-10 19:45] 0crat commented on #8
The job [#8](https://github.com/enigmadragons/projectneon/issues/8) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/8c23452e-82d7-46e5-b2b4-a4fe9c92fd15); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-09-10 19:45] 0crat commented on #8
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 19:53] 0crat commented on #9
@SilasReinagel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.8](https://github.com/zerocracy/farm): CID: [cfcd9df7-7595-4699-a93a-967f925d49e4](https://www.0crat.com/footprint/CN3V1M4AU/cfcd9df7-7595-4699-a93a-967f925d49e4), Type: "Set boost"

[2019-09-10 19:53] 0crat commented on #9
@SilasReinagel Job [#9](https://github.com/enigmadragons/projectneon/issues/9) is now in scope, role is `DEV`

[2019-09-10 19:57] 0crat commented on #12
@SilasReinagel Job [#12](https://github.com/enigmadragons/projectneon/issues/12) is now in scope, role is `DEV`

[2019-09-10 20:00] 0crat commented on #11
@SilasReinagel Job [#11](https://github.com/enigmadragons/projectneon/issues/11) is now in scope, role is `DEV`

[2019-09-10 20:00] 0crat commented on #15
@SilasReinagel Job [#15](https://github.com/enigmadragons/projectneon/issues/15) is now in scope, role is `DEV`

[2019-09-10 20:02] 0crat commented on #9
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 20:07] 0crat commented on #9
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 20:07] 0crat commented on #12
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 20:07] 0crat commented on #11
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 20:08] 0crat commented on #15
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 20:08] 0crat commented on #9
The job [#9](https://github.com/enigmadragons/projectneon/issues/9) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/da04c625-cb48-4a55-b1d2-69377d7982a9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-09-10 21:44] 0pdd opened #39 "puzzles.md:5-6: Define background image for title screen...."
The puzzle `6-381251cb` from EnigmaDragons/ProjectNeon#6 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/4e4d595a933a314d81f9b735f3a8c39584009187/puzzles.md#L5-L6

The puzzle was created by Paulo Lobo on 10-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2019-09-10 21:44] 0pdd opened #40 "puzzles.md:7: Wire start game, exit game and options..."
The puzzle `6-97d39b79` from #6 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/4e4d595a933a314d81f9b735f3a8c39584009187/puzzles.md#L7-L7

The puzzle was created by Paulo Lobo on 10-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-09-10 21:44] 0pdd opened #41 "puzzles.md:8: Set up buttons and label styles in title..."
The puzzle `6-db9ec73d` from EnigmaDragons/ProjectNeon#6 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/4e4d595a933a314d81f9b735f3a8c39584009187/puzzles.md#L8-L8

The puzzle was created by Paulo Lobo on 10-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2019-09-10 21:44] 0pdd commented on #6
@SilasReinagel 3 puzzles [#39](https://github.com/EnigmaDragons/ProjectNeon/issues/39), [#40](https://github.com/EnigmaDragons/ProjectNeon/issues/40), [#41](https://github.com/EnigmaDragons/ProjectNeon/issues/41) are still not solved.

[2019-09-10 21:44] 0crat commented on #39
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso), @silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-10 21:45] 0crat commented on #41
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso), @silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-10 21:45] 0crat commented on #40
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso), @silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-10 22:17] 0crat commented on #6
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-10 22:37] 0crat commented on #8
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-10 22:49] 0crat commented on #6
The job [#6](https://github.com/enigmadragons/projectneon/issues/6) is now out of scope

[2019-09-10 22:50] 0crat commented on #6
Order was finished: +20 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-10 22:50] 0crat commented on #8
The job [#8](https://github.com/enigmadragons/projectneon/issues/8) is now out of scope

[2019-09-10 22:50] 0crat commented on #8
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-10 23:05] 0crat commented on #9
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @silasreinagel[/z](https://www.0crat.com/u/silasreinagel) is the architect now

[2019-09-10 23:05] 0crat commented on #25
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @silasreinagel[/z](https://www.0crat.com/u/silasreinagel) is the architect now

[2019-09-10 23:05] 0crat commented on #7
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @silasreinagel[/z](https://www.0crat.com/u/silasreinagel) is the architect now

[2019-09-11 01:14] SilasReinagel opened #43 "Create Sci-Fi Basic Card"

[2019-09-11 01:29] #39 closed

[2019-09-11 01:30] 0pdd commented on #6
@SilasReinagel 2 puzzles [#40](https://github.com/EnigmaDragons/ProjectNeon/issues/40), [#41](https://github.com/EnigmaDragons/ProjectNeon/issues/41) are still not solved; solved: [#39](https://github.com/EnigmaDragons/ProjectNeon/issues/39).

[2019-09-11 01:31] #6 closed

[2019-09-11 01:40] 0crat commented on #39
The job [#39](https://github.com/enigmadragons/projectneon/issues/39) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/1417fa2a-d714-403b-af6f-a9ae43e3e7bc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-11 01:51] 0crat commented on #43
The job [#43](https://github.com/enigmadragons/projectneon/issues/43) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/e092312a-a871-47ca-9441-5136602b34cd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-11 01:55] 0crat commented on #39
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-11 01:55] 0crat commented on #6
Job `gh:enigmadragons/projectneon#6` is not assigned, can't get performer

[2019-09-11 01:55] 0crat commented on #43
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-11 01:56] 0crat commented on #43
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-11 01:56] 0crat commented on #39
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-11 01:56] 0crat commented on #6
This job is not in scope

[2019-09-11 01:56] 0crat commented on #39
The job [#39](https://github.com/enigmadragons/projectneon/issues/39) is now out of scope

[2019-09-11 01:56] 0crat commented on #43
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-11 01:57] 0crat commented on #39
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-11 02:02] #43 closed

[2019-09-11 02:20] 0crat commented on #43
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-11 02:20] 0crat commented on #43
The job [#43](https://github.com/enigmadragons/projectneon/issues/43) is now out of scope

[2019-09-11 02:21] 0crat commented on #43
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-11 04:37] #7 closed

[2019-09-11 04:37] 0pdd opened #47 "puzzle.md:5: Define background image for game scene."
The puzzle `7-f9d55879` from #7 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/c2aca873b6fd952ce10602916795889ea5871337/puzzle.md#L5-L5

The puzzle was created by Paulo Lobo on 11-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-09-11 04:37] 0pdd opened #48 "puzzle.md:6: Wire deck builder button and next battle..."
The puzzle `7-e815ea3f` from #7 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/c2aca873b6fd952ce10602916795889ea5871337/puzzle.md#L6-L6

The puzzle was created by Paulo Lobo on 11-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-09-11 04:37] 0pdd opened #49 "puzzle.md:7: Set up buttons and label styles in game scene."
The puzzle `7-936c3be5` from #7 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/c2aca873b6fd952ce10602916795889ea5871337/puzzle.md#L7-L7

The puzzle was created by Paulo Lobo on 11-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-09-11 04:37] 0pdd commented on #7
@SilasReinagel 3 puzzles [#47](https://github.com/EnigmaDragons/ProjectNeon/issues/47), [#48](https://github.com/EnigmaDragons/ProjectNeon/issues/48), [#49](https://github.com/EnigmaDragons/ProjectNeon/issues/49) are still not solved.

[2019-09-11 04:37] 0crat commented on #47
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-11 04:38] 0crat commented on #49
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-11 04:38] 0crat commented on #48
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-11 04:47] #8 closed

[2019-09-11 05:08] 0crat commented on #7
Job was finished in 12 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-11 05:09] 0crat commented on #8
Job `gh:enigmadragons/projectneon#8` is not assigned, can't get performer

[2019-09-11 05:09] 0crat commented on #7
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-11 05:09] 0crat commented on #7
The job [#7](https://github.com/enigmadragons/projectneon/issues/7) is now out of scope

[2019-09-11 05:09] 0crat commented on #8
This job is not in scope

[2019-09-11 12:43] paulodamaso commented on #25
@SilasReinagel I have a doubt here: I have to add these objects into `Squad Selection` screen, right? If so, I'll have to wait for #42 merge

[2019-09-11 15:50] SilasReinagel commented on #25
@paulodamaso This is purely backend work.

Doesn’t require any Scene. Should not be integrated into a scene yet. Should be viewable/editable in the inspector.

[2019-09-12 00:07] SilasReinagel opened #51 "Backend: Create Enemy Scriptable Objects"
Must be able to create an enemy from the Editor.
Enemy should have a Name.
Enemy should have a Deck.
Enemy should have a Turn AI.
Enemy should have CharacterStats.

Create of these other Scriptable objects that are missing. Ensure editor support for all of them.

[2019-09-12 00:11] SilasReinagel opened #52 "Backend: Create Enemy Encounter Builder"
Enemy Encounter Builder should be able to create an encounter group of enemies matching a chosen difficulty value.

It must have Editor-Access to a set of possible Enemies.
Using those enemies, it must build any group that closely matches a selected difficulty value.
The encounter group must be spawned into the scene.

Should publish `BattleEnemiesSpawned` event on completion.

[2019-09-12 00:12] SilasReinagel opened #53 "Backend: Setup arg-free Event and EventSubcription Scriptable Objects for reactive bindings"

[2019-09-12 00:16] SilasReinagel opened #54 "Backend: Begin Designing Composable Card Effects"
Card should be able to add custom effects.

Initially, should support basic effects like:
- Deal X damage to Single Opponent.
- Deal X damage to Every Opponent.
- Apply Buff for X Turns to target.
- Heal X HP to Single Ally.

Cards should be able to be created as Assets in the Editor. Should be able to add/remove effects.

[2019-09-12 00:19] SilasReinagel opened #55 "Battle: Enemy Action Selection"
Once a turn has begun, Each enemy should select a card and any targets for his action.

Use a dumb Random AI for now.
Ensure that solution is polymorphic, so we can replace with a better AI later.

Once all enemies have selected their cards, trigger a "EnemyActionsSelected" event.

[2019-09-12 00:21] SilasReinagel opened #56 "Battle Orchestrations: Start First Turn After All Setup Actions"
Begin orchestrating once BattleSetup has begun.

Once all of the following have occurred, broadcast a "BattleSetupFinished" event:

- Battlefield has been setup
- Player Party has entered the battlefield
- Enemy Encounter group has entered the battlefield
- Player has drawn his starting hand
- All Encounter Custom actions have been resolved.

[2019-09-12 00:25] SilasReinagel opened #57 "Backend: Setup CurrentParty, CurrentDeck, CurrentBattle, CurrentLibrary stateful Scriptable Objects and initial states"
All should be Editor-friendly.

[2019-09-12 00:32] SilasReinagel commented on #9
@0crat status

[2019-09-12 00:33] 0crat commented on #9
@SilasReinagel This is what I know about this job in [CN3V1M4AU](https://www.0crat.com/p/CN3V1M4AU), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#9](https://github.com/enigmadragons/projectneon/issues/9) is [in scope](http://www.zerocracy.com/policy.html#14) for 1days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for

[2019-09-12 00:34] SilasReinagel commented on #9
@0crat boost 1x

[2019-09-12 00:35] 0crat commented on #53
The job [#53](https://github.com/enigmadragons/projectneon/issues/53) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/f1112a65-74f1-44ac-8fb8-273e21e333d5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-12 00:35] 0crat commented on #53
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-12 00:39] 0crat commented on #53
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-12 00:39] 0crat commented on #9
@SilasReinagel Boost 1x was set for [#9](https://github.com/enigmadragons/projectneon/issues/9)

[2019-09-12 00:40] SilasReinagel commented on #9
@0crat status

[2019-09-12 00:40] 0crat commented on #53
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-12 00:41] 0crat commented on #9
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-12 00:41] 0crat commented on #9
@SilasReinagel This is what I know about this job in [CN3V1M4AU](https://www.0crat.com/p/CN3V1M4AU), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#9](https://github.com/enigmadragons/projectneon/issues/9) is [in scope](http://www.zerocracy.com/policy.html#14) for 1days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for

[2019-09-12 01:12] #53 closed

[2019-09-12 01:29] 0crat commented on #53
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-12 01:30] 0crat commented on #53
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-12 01:30] 0crat commented on #53
The job [#53](https://github.com/enigmadragons/projectneon/issues/53) is now out of scope

[2019-09-12 15:39] SilasReinagel opened #59 "Setup Button Navigation between All Scenes"
Add all game scenes to the build.
Handle navigation via Events.

Use methods or string mapping for navigation, not numeric references.

Blocked by #11 and #12.

[2019-09-12 15:44] SilasReinagel opened #60 "Create Visual HP Bar, and make it reactively bindable to HP Changed Event"
Must be reactively triggered. No Update loop.
Must display MaxHP visual amount.
Must display CurrentHP visual amount.

[2019-09-13 14:16] paulodamaso commented on #15
@SilasReinagel Which CI provider/ toll you want us to use in project?

[2019-09-13 15:32] SilasReinagel commented on #15
@paulodamaso Preference is Github Actions.

If that’s not possible, then Appveyor.

[2019-09-13 19:10] 0crat commented on #11
The job [#11](https://github.com/enigmadragons/projectneon/issues/11) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/a2031b0c-88b9-4956-878a-5fbca25d4a4a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-13 19:11] 0crat commented on #11
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 19:11] 0crat commented on #11
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 19:26] #11 closed

[2019-09-13 19:33] #12 closed

[2019-09-13 19:37] 0crat commented on #12
The job [#12](https://github.com/enigmadragons/projectneon/issues/12) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/5514466a-c027-47ef-b8b0-fb4bea032fb6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-13 19:50] 0crat commented on #12
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 19:50] 0crat commented on #12
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 19:51] 0crat commented on #56
The job [#56](https://github.com/enigmadragons/projectneon/issues/56) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/7b1254d6-d274-455d-a659-4aa549fa9ca0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-13 19:51] 0crat commented on #11
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-13 19:52] 0crat commented on #12
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-13 19:52] 0crat commented on #56
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 19:52] 0crat commented on #56
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 19:53] 0crat commented on #11
The job [#11](https://github.com/enigmadragons/projectneon/issues/11) is now out of scope

[2019-09-13 19:53] 0crat commented on #11
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 19:53] 0crat commented on #12
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 19:53] 0crat commented on #12
The job [#12](https://github.com/enigmadragons/projectneon/issues/12) is now out of scope

[2019-09-13 20:32] #56 closed

[2019-09-13 20:49] 0crat commented on #56
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-13 20:49] 0crat commented on #56
The job [#56](https://github.com/enigmadragons/projectneon/issues/56) is now out of scope

[2019-09-13 20:49] 0crat commented on #56
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 22:43] 0crat commented on #21
You @kazamaru[/z](https://www.0crat.com/u/kazamaru) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-13 22:52] 0crat commented on #20
Job `gh:enigmadragons/projectneon#20` is not assigned, can't get performer

[2019-09-13 22:52] 0crat commented on #20
This job is not in scope

[2019-09-13 22:55] SilasReinagel opened #65 "Work on Squad Selection Functionality"
- Allow cycling between Characters
- Improve character visualizations
- Allow slots two and three to be empty
- Don't allow duplicate Character selections

[2019-09-13 22:57] 0crat commented on #65
The job [#65](https://github.com/enigmadragons/projectneon/issues/65) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/07011503-e955-40b6-8a65-d0a2247bc719); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-13 22:57] 0crat commented on #65
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 22:57] 0crat commented on #65
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 22:58] 0crat commented on #65
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 23:15] SilasReinagel opened #66 "Add Character Art Busts"

[2019-09-13 23:17] 0crat commented on #66
The job [#66](https://github.com/enigmadragons/projectneon/issues/66) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/ed62fc95-608d-4c6b-8d8d-b9277644d42c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-13 23:18] 0crat commented on #66
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 23:18] 0crat commented on #66
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 23:18] 0crat commented on #66
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 23:26] SilasReinagel opened #67 "High-Level Design: Card Construction"
Create a list of all elements a card text may need to have.

Time: 30 minutes

[2019-09-13 23:27] SilasReinagel commented on #67
@0crat in

[2019-09-13 23:27] 0crat commented on #67
@SilasReinagel Job [#67](https://github.com/enigmadragons/projectneon/issues/67) is now in scope, role is `DEV`

[2019-09-13 23:28] #66 closed

[2019-09-13 23:30] 0crat commented on #67
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 23:44] 0crat commented on #23
You @kazamaru[/z](https://www.0crat.com/u/kazamaru) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-13 23:44] 0crat commented on #66
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-13 23:45] 0crat commented on #66
The job [#66](https://github.com/enigmadragons/projectneon/issues/66) is now out of scope

[2019-09-13 23:46] 0crat commented on #66
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-13 23:52] 0crat commented on #20
You @kazamaru[/z](https://www.0crat.com/u/kazamaru) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-14 00:23] #65 closed

[2019-09-14 00:27] SilasReinagel opened #70 "Create and Bind Squad Slot UI"
- Character Name
- Bust Image
- Class Description

Should change with selection

[2019-09-14 00:35] 0crat commented on #70
The job [#70](https://github.com/enigmadragons/projectneon/issues/70) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/d4f0e480-901a-497e-8b18-2c2b9dbbfafb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-14 00:41] 0crat commented on #70
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-14 00:41] 0crat commented on #70
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-14 00:41] 0crat commented on #70
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-14 00:42] 0crat commented on #65
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-14 00:43] 0crat commented on #65
The job [#65](https://github.com/enigmadragons/projectneon/issues/65) is now out of scope

[2019-09-14 00:43] 0crat commented on #65
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-14 01:39] #70 closed

[2019-09-14 01:39] 0pdd opened #72 "SquadSlot.cs:14: Implement Readonly Inspector Attributes..."
The puzzle `65-64810ef3` from EnigmaDragons/ProjectNeon#65 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/868daa201017d64c75343d4ee1d7254cbf2a0b09/src/ProjectNeon/Assets/SquadSelection/SquadSlot.cs#L14-L14

The puzzle was created by Silas Reinagel on 14-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead.

[2019-09-14 01:39] 0pdd commented on #65
@SilasReinagel the puzzle [#72](https://github.com/EnigmaDragons/ProjectNeon/issues/72) is still not solved.

[2019-09-14 01:40] 0crat commented on #72
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-14 01:55] 0crat commented on #70
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-14 01:57] 0crat commented on #70
The job [#70](https://github.com/enigmadragons/projectneon/issues/70) is now out of scope

[2019-09-14 01:57] 0crat commented on #70
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-14 02:21] SilasReinagel commented on #72
@0crat in

[2019-09-14 02:22] 0crat commented on #72
@SilasReinagel Job [#72](https://github.com/enigmadragons/projectneon/issues/72) is now in scope, role is `DEV`

[2019-09-14 06:44] #23 closed

[2019-09-14 07:02] 0crat commented on #23
Job `gh:enigmadragons/projectneon#23` is not assigned, can't get performer

[2019-09-14 07:02] 0crat commented on #23
This job is not in scope

[2019-09-14 21:12] #59 closed

[2019-09-14 21:30] 0crat commented on #59
Job was finished in 39 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-14 21:43] 0crat commented on #59
The job [#59](https://github.com/enigmadragons/projectneon/issues/59) is now out of scope

[2019-09-14 21:44] 0crat commented on #59
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-15 04:06] 0crat commented on #30
The job [#30](https://github.com/enigmadragons/projectneon/issues/30) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/f30bc6d8-8614-47e0-8385-203de6032374); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-15 04:06] 0crat commented on #30
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-15 04:07] 0crat commented on #30
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-15 05:56] #30 closed

[2019-09-15 05:58] 0pdd opened #78 "HandViewVisualizer.cs:25: This isn't parallel-safe. Too..."
The puzzle `30-a4f0a200` from EnigmaDragons/ProjectNeon#30 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f81f85ffa4c2ade96e24aea68a7a033e689f580f/src/ProjectNeon/Assets/Battle/Cards/HandViewVisualizer.cs#L25-L25

The puzzle was created by Silas Reinagel on 15-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets i

[2019-09-15 05:58] 0pdd opened #79 "CardsVisualizer.cs:42: Animate these cards entrances...."
The puzzle `30-89f0f0f5` from EnigmaDragons/ProjectNeon#30 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f81f85ffa4c2ade96e24aea68a7a033e689f580f/src/ProjectNeon/Assets/Battle/Cards/HandViewVisualizer.cs#L27-L27

The puzzle was created by Silas Reinagel on 15-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets i

[2019-09-15 05:58] 0pdd opened #80 "HandViewVisualizer.cs:29: Space card out from the center,..."
The puzzle `30-acf40236` from EnigmaDragons/ProjectNeon#30 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f81f85ffa4c2ade96e24aea68a7a033e689f580f/src/ProjectNeon/Assets/Battle/Cards/HandViewVisualizer.cs#L29-L29

The puzzle was created by Silas Reinagel on 15-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets i

[2019-09-15 05:58] 0pdd opened #81 "SetupPlayerCards.cs:7: Create IntVariable Scriptable..."
The puzzle `30-912c1aaf` from EnigmaDragons/ProjectNeon#30 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f81f85ffa4c2ade96e24aea68a7a033e689f580f/src/ProjectNeon/Assets/Battle/Cards/SetupPlayerCards.cs#L7-L7

The puzzle was created by Silas Reinagel on 15-Sep-19.

Estimate: 10 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets inste

[2019-09-15 05:59] 0pdd commented on #30
@SilasReinagel 4 puzzles [#78](https://github.com/EnigmaDragons/ProjectNeon/issues/78), [#79](https://github.com/EnigmaDragons/ProjectNeon/issues/79), [#80](https://github.com/EnigmaDragons/ProjectNeon/issues/80), [#81](https://github.com/EnigmaDragons/ProjectNeon/issues/81) are still not solved.

[2019-09-15 05:59] 0crat commented on #81
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-15 05:59] 0crat commented on #80
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-15 05:59] 0crat commented on #79
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-15 06:00] 0crat commented on #78
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-15 06:00] SilasReinagel commented on #81
@0crat in

[2019-09-15 06:00] SilasReinagel commented on #80
@0crat in

[2019-09-15 06:00] SilasReinagel commented on #79
@0crat in

[2019-09-15 06:00] SilasReinagel commented on #78
@0crat in

[2019-09-15 06:08] 0crat commented on #79
@SilasReinagel Job [#79](https://github.com/enigmadragons/projectneon/issues/79) is now in scope, role is `DEV`

[2019-09-15 06:08] 0crat commented on #78
@SilasReinagel Job [#78](https://github.com/enigmadragons/projectneon/issues/78) is now in scope, role is `DEV`

[2019-09-15 06:10] 0crat commented on #80
@SilasReinagel Job [#80](https://github.com/enigmadragons/projectneon/issues/80) is now in scope, role is `DEV`

[2019-09-15 06:10] 0crat commented on #81
@SilasReinagel Job [#81](https://github.com/enigmadragons/projectneon/issues/81) is now in scope, role is `DEV`

[2019-09-15 06:14] 0crat commented on #31
The job [#31](https://github.com/enigmadragons/projectneon/issues/31) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/bf9334c8-7dd2-4a5b-a953-5644160d8141); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-15 06:15] 0crat commented on #31
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-15 06:15] 0crat commented on #31
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-15 06:15] 0crat commented on #30
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-15 06:16] 0crat commented on #30
The job [#30](https://github.com/enigmadragons/projectneon/issues/30) is now out of scope

[2019-09-15 06:16] 0crat commented on #30
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-15 06:50] #31 closed

[2019-09-15 06:53] #41 closed

[2019-09-15 06:53] 0pdd commented on #41
The puzzle `6-db9ec73d` has disappeared from the source code, that's why I closed this issue.

[2019-09-15 06:53] 0pdd commented on #47
The puzzle `7-f9d55879` has disappeared from the source code, that's why I closed this issue.

[2019-09-15 06:53] #47 closed

[2019-09-15 06:53] 0pdd commented on #48
The puzzle `7-e815ea3f` has disappeared from the source code, that's why I closed this issue.

[2019-09-15 06:53] #48 closed

[2019-09-15 06:53] 0pdd commented on #49
The puzzle `7-936c3be5` has disappeared from the source code, that's why I closed this issue.

[2019-09-15 06:53] #49 closed

[2019-09-15 06:53] 0pdd opened #84 "puzzles.md:6: When Single Enemy Target card is played,..."
The puzzle `31-3fc792ea` from EnigmaDragons/ProjectNeon#31 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/07e94b0172777ff7b32eedb209f69966471b6a9d/puzzles.md#L6-L6

The puzzle was created by Silas Reinagel on 15-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2019-09-15 06:53] 0pdd opened #85 "puzzles.md:7: Create Flat damage effect, which causes X..."
The puzzle `31-dbeafccb` from EnigmaDragons/ProjectNeon#31 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/07e94b0172777ff7b32eedb209f69966471b6a9d/puzzles.md#L7-L7

The puzzle was created by Silas Reinagel on 15-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2019-09-15 06:53] 0pdd opened #86 "puzzles.md:8: CardView must display Card Name, Art, Type..."
The puzzle `31-f5691d5e` from EnigmaDragons/ProjectNeon#31 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/07e94b0172777ff7b32eedb209f69966471b6a9d/puzzles.md#L8-L8

The puzzle was created by Silas Reinagel on 15-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2019-09-15 06:53] 0pdd commented on #6
@SilasReinagel the puzzle [#40](https://github.com/EnigmaDragons/ProjectNeon/issues/40) is still not solved; solved: [#39](https://github.com/EnigmaDragons/ProjectNeon/issues/39), [#41](https://github.com/EnigmaDragons/ProjectNeon/issues/41).

[2019-09-15 06:53] 0pdd commented on #7
@SilasReinagel all 3 puzzles are solved here: [#47](https://github.com/EnigmaDragons/ProjectNeon/issues/47), [#48](https://github.com/EnigmaDragons/ProjectNeon/issues/48), [#49](https://github.com/EnigmaDragons/ProjectNeon/issues/49).

[2019-09-15 06:53] 0pdd commented on #31
@SilasReinagel 3 puzzles [#84](https://github.com/EnigmaDragons/ProjectNeon/issues/84), [#85](https://github.com/EnigmaDragons/ProjectNeon/issues/85), [#86](https://github.com/EnigmaDragons/ProjectNeon/issues/86) are still not solved.

[2019-09-15 06:54] 0crat commented on #86
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-15 06:54] 0crat commented on #85
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-15 06:55] 0crat commented on #84
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-15 06:56] SilasReinagel commented on #85
@0crat in

[2019-09-15 06:56] SilasReinagel commented on #84
@0crat in

[2019-09-15 06:57] SilasReinagel commented on #86
@0crat in

[2019-09-15 07:11] 0crat commented on #85
@SilasReinagel Job [#85](https://github.com/enigmadragons/projectneon/issues/85) is now in scope, role is `DEV`

[2019-09-15 07:11] 0crat commented on #84
@SilasReinagel Job [#84](https://github.com/enigmadragons/projectneon/issues/84) is now in scope, role is `DEV`

[2019-09-15 07:12] 0crat commented on #86
@SilasReinagel Job [#86](https://github.com/enigmadragons/projectneon/issues/86) is now in scope, role is `DEV`

[2019-09-15 07:12] 0crat commented on #41
Job `gh:enigmadragons/projectneon#41` is not assigned, can't get performer

[2019-09-15 07:12] 0crat commented on #47
Job `gh:enigmadragons/projectneon#47` is not assigned, can't get performer

[2019-09-15 07:12] 0crat commented on #48
Job `gh:enigmadragons/projectneon#48` is not assigned, can't get performer

[2019-09-15 07:12] 0crat commented on #49
Job `gh:enigmadragons/projectneon#49` is not assigned, can't get performer

[2019-09-15 07:12] 0crat commented on #31
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-15 07:13] 0crat commented on #86
The job [#86](https://github.com/enigmadragons/projectneon/issues/86) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/d83c6d71-9b83-42d9-bfc4-5731217ac3ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-15 07:13] 0crat commented on #41
This job is not in scope

[2019-09-15 07:13] 0crat commented on #47
This job is not in scope

[2019-09-15 07:13] 0crat commented on #49
This job is not in scope

[2019-09-15 07:13] 0crat commented on #48
This job is not in scope

[2019-09-15 07:15] 0crat commented on #31
The job [#31](https://github.com/enigmadragons/projectneon/issues/31) is now out of scope

[2019-09-15 07:15] 0crat commented on #31
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-15 07:15] 0crat commented on #86
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-15 07:36] #86 closed

[2019-09-15 07:36] 0pdd commented on #31
@SilasReinagel 2 puzzles [#84](https://github.com/EnigmaDragons/ProjectNeon/issues/84), [#85](https://github.com/EnigmaDragons/ProjectNeon/issues/85) are still not solved; solved: [#86](https://github.com/EnigmaDragons/ProjectNeon/issues/86).

[2019-09-15 07:52] 0crat commented on #86
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-15 07:53] 0crat commented on #86
The job [#86](https://github.com/enigmadragons/projectneon/issues/86) is now out of scope

[2019-09-15 07:53] 0crat commented on #86
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-15 22:09] #27 closed

[2019-09-15 22:33] 0crat commented on #27
The job [#27](https://github.com/enigmadragons/projectneon/issues/27) is now out of scope

[2019-09-15 22:35] 0crat commented on #27
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-15 22:38] 0crat commented on #51
The job [#51](https://github.com/enigmadragons/projectneon/issues/51) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/4d55140d-8be9-4951-b933-bdd85ba1bd01); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-15 22:42] 0crat commented on #52
The job [#52](https://github.com/enigmadragons/projectneon/issues/52) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/0aa0a659-f741-423e-bb5f-abcf840e2729); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-15 22:52] 0crat commented on #54
The job [#54](https://github.com/enigmadragons/projectneon/issues/54) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/853c2a64-e54d-4b76-841f-d0ad1e116e1e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-16 02:24] SilasReinagel opened #88 "Create Game Battleflow Document"

[2019-09-16 02:25] 0crat commented on #17
The job [#17](https://github.com/enigmadragons/projectneon/issues/17) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/15764aee-7f64-4d15-8dbf-4a6a88f06ba1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-16 02:25] 0crat commented on #17
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-16 02:26] 0crat commented on #17
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-16 02:26] 0crat commented on #17
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-16 03:07] #88 closed

[2019-09-16 03:08] #17 closed

[2019-09-16 03:11] 0crat commented on #88
Job `gh:enigmadragons/projectneon#88` is not assigned, can't get performer

[2019-09-16 03:11] SilasReinagel opened #90 "Battle: Player Card Selection"
Player should select cards from hand.
When a card is selected, it should be moved out of the hand, into a Turn Card zone higher on the screen.
When three cards are selected, player should be prompted to Confirm their selection.
Selected Cards should be able to be unselected. When a card is unselected, it should return to hand.

![image.png](https://zube.io/files/enigmadragons/ca5c2d0ac4ce27bcb3749

[2019-09-16 03:11] SilasReinagel commented on #90
@0crat in

[2019-09-16 03:14] SilasReinagel opened #91 "Battle: Card Target Selection"
When a card is selected, player should also select appropriate targets for the card.
Targets should be limited to valid options.
Selected a target should take a single confirmation click/press.

Current Card Scopes:
- Self
- Enemy
- Ally

Current Groups
- One
- Whole Group

[2019-09-16 03:17] 0crat commented on #90
@SilasReinagel Job [#90](https://github.com/enigmadragons/projectneon/issues/90) is now in scope, role is `DEV`

[2019-09-16 03:24] 0crat commented on #90
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-16 03:24] 0crat commented on #17
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-16 03:25] 0crat commented on #17
The job [#17](https://github.com/enigmadragons/projectneon/issues/17) is now out of scope

[2019-09-16 03:25] 0crat commented on #17
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-16 10:38] 0crat commented on #57
The job [#57](https://github.com/enigmadragons/projectneon/issues/57) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/7c657251-1728-4378-b43f-e9b27cd523ec); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-16 19:46] #20 closed

[2019-09-16 19:47] SilasReinagel opened #95 "High-Level Design: 4th Character Class"
Use this guy as inspiration:

![char5-bust.png](https://zube.io/files/enigmadragons/3a9a16ba3ef38c11483bcf9b585bc966-char5-bust.png)

[2019-09-16 20:02] 0crat commented on #20
Job `gh:enigmadragons/projectneon#20` is not assigned, can't get performer

[2019-09-16 20:03] 0crat commented on #20
This job is not in scope

[2019-09-16 22:21] #21 closed

[2019-09-16 22:23] #51 closed

[2019-09-16 22:40] 0crat commented on #21
Job `gh:enigmadragons/projectneon#21` is not assigned, can't get performer

[2019-09-16 22:40] 0crat commented on #21
This job is not in scope

[2019-09-16 22:42] 0crat commented on #51
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-16 22:54] 0crat commented on #51
The job [#51](https://github.com/enigmadragons/projectneon/issues/51) is now out of scope

[2019-09-16 22:57] 0crat commented on #51
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-17 00:40] SilasReinagel opened #98 "Sideview DragonBones Battle Character Art 1"
- Must have a giant riot shield
- Must have strong, but high-tech armor.
- Must have a giant high-tech sword
- Arms, Legs, Torso, Head, and Weapons should be different layers in the PSD

![CharacterBust.png](https://zube.io/files/enigmadragons/ee472eb4ddfa801871b73fa2995174fa-characterbust.png)

More Inspiration:

![image.png](https://zube.io/files/enigmadragons/6fa7a09abf6c4f51a77fabda65846b53-im

[2019-09-17 00:43] 0crat commented on #72
The job [#72](https://github.com/enigmadragons/projectneon/issues/72) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/49415fc7-0b51-4ef9-9887-c42579dcbd5c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-17 00:44] 0crat commented on #72
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-17 00:55] SilasReinagel opened #99 "Create Damage Numeric Visual Effect"
Should be attached to a character.
When the character is dealt damage, should appear above the character briefly, and then fade out after a bit.

https://www.giantbomb.com/damage-numbers/3015-2106/

[2019-09-17 00:56] #72 closed

[2019-09-17 00:56] 0pdd commented on #65
@SilasReinagel the only puzzle [#72](https://github.com/EnigmaDragons/ProjectNeon/issues/72) is solved here.

[2019-09-17 01:02] 0pdd opened #102 "puzzles.md:8: Battle Phase should advance to Resolution..."
The puzzle `1-5dd07971` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/576113e803b84e8cd8475554c3f909ecbec03227/puzzles.md#L8-L8

The puzzle was created by Silas Reinagel on 17-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2019-09-17 01:02] 0pdd opened #103 "puzzles.md:9: During Resolution Phase, execute all card..."
The puzzle `1-1504dc6a` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/576113e803b84e8cd8475554c3f909ecbec03227/puzzles.md#L9-L9

The puzzle was created by Silas Reinagel on 17-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2019-09-17 01:02] 0pdd commented on #1
@SilasReinagel 2 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#103](https://github.com/EnigmaDragons/ProjectNeon/issues/103) are still not solved.

[2019-09-17 01:03] 0crat commented on #102
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-17 01:03] 0crat commented on #103
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-17 01:19] 0crat commented on #72
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-17 01:19] 0crat commented on #72
The job [#72](https://github.com/enigmadragons/projectneon/issues/72) is now out of scope

[2019-09-17 01:21] 0crat commented on #72
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-17 02:39] #95 closed

[2019-09-17 02:40] SilasReinagel opened #105 "Design 9 cards for Astromancer"

[2019-09-17 02:40] SilasReinagel opened #106 "Design 9 Cards for ElectroBlade"

[2019-09-17 02:40] SilasReinagel opened #107 "Design 9 Cards for Paladin"

[2019-09-17 02:40] SilasReinagel opened #108 "Design 9 Cards for TitanOperator"

[2019-09-17 02:49] 0crat commented on #95
The job [#95](https://github.com/enigmadragons/projectneon/issues/95) assigned to @kazamaru[/z](https://www.0crat.com/u/kazamaru), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/26f8a811-4f1d-406b-9986-e1178f46ae2c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-09-17 02:55] 0crat commented on #95
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-17 02:55] 0crat commented on #95
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-17 02:56] 0crat commented on #90
The job [#90](https://github.com/enigmadragons/projectneon/issues/90) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/960095a2-8b2f-46c8-b1bd-02c61396dd09); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-17 02:56] 0crat commented on #95
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-17 02:56] 0crat commented on #90
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-17 02:56] 0crat commented on #90
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-17 02:57] 0crat commented on #95
Order was finished: +35 point(s) just awarded to @kazamaru[/z](https://www.0crat.com/u/kazamaru)

[2019-09-17 02:57] 0crat commented on #95
The job [#95](https://github.com/enigmadragons/projectneon/issues/95) is now out of scope

[2019-09-17 03:09] #28 closed

[2019-09-17 03:10] 0pdd opened #109 "PartyVisualizer.cs:14: Render player characters in battle..."
The puzzle `28-57f60114` from EnigmaDragons/ProjectNeon#28 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/fc0a969734aa1fc771c9c2ae6b9f31caff68236b/src/ProjectNeon/Assets/Battle/Party/PartyVisualizer.cs#L14-L14

The puzzle was created by Paulo Lobo on 17-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead.

[2019-09-17 03:10] 0pdd commented on #28
@SilasReinagel the puzzle [#109](https://github.com/EnigmaDragons/ProjectNeon/issues/109) is still not solved.

[2019-09-17 03:10] 0crat commented on #109
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-17 03:35] 0crat commented on #28
The job [#28](https://github.com/enigmadragons/projectneon/issues/28) is now out of scope

[2019-09-17 03:37] 0crat commented on #28
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-17 03:46] 0crat commented on #55
The job [#55](https://github.com/enigmadragons/projectneon/issues/55) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/1fc0fbe9-fd65-4b72-b907-5db1be642c17); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-17 07:37] #90 closed

[2019-09-17 07:37] #78 closed

[2019-09-17 07:37] 0pdd commented on #78
The puzzle `30-a4f0a200` has disappeared from the source code, that's why I closed this issue.

[2019-09-17 07:37] 0pdd opened #112 "ConfirmCardSelection.cs:5: Visually confirm player..."
The puzzle `90-70ccf5b2` from EnigmaDragons/ProjectNeon#90 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/651565d545e784e67002795663dd78f952a3b097/src/ProjectNeon/Assets/Battle/Cards/ConfirmCardSelection.cs#L5-L5

The puzzle was created by Silas Reinagel on 17-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets i

[2019-09-17 07:37] 0pdd commented on #30
@SilasReinagel 3 puzzles [#79](https://github.com/EnigmaDragons/ProjectNeon/issues/79), [#80](https://github.com/EnigmaDragons/ProjectNeon/issues/80), [#81](https://github.com/EnigmaDragons/ProjectNeon/issues/81) are still not solved; solved: [#78](https://github.com/EnigmaDragons/ProjectNeon/issues/78).

[2019-09-17 07:37] 0pdd commented on #90
@SilasReinagel the puzzle [#112](https://github.com/EnigmaDragons/ProjectNeon/issues/112) is still not solved.

[2019-09-17 07:37] #109 closed

[2019-09-17 07:38] 0crat commented on #112
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-17 07:46] 0crat commented on #109
Job [#109](https://github.com/enigmadragons/projectneon/issues/109) is closed, can't start order

[2019-09-17 07:56] 0crat commented on #109
Job `gh:enigmadragons/projectneon#109` is not assigned, can't get performer

[2019-09-17 07:56] 0crat commented on #78
The job [#78](https://github.com/enigmadragons/projectneon/issues/78) is now out of scope

[2019-09-17 07:56] 0crat commented on #90
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-17 07:56] 0crat commented on #78
Job `gh:enigmadragons/projectneon#78` is not assigned, can't get performer

[2019-09-17 07:57] 0crat commented on #90
The job [#90](https://github.com/enigmadragons/projectneon/issues/90) is now out of scope

[2019-09-17 07:57] 0crat commented on #109
This job is not in scope

[2019-09-17 16:47] 0crat commented on #67
You @kazamaru[/z](https://www.0crat.com/u/kazamaru) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-17 16:47] 0crat commented on #108
You @kazamaru[/z](https://www.0crat.com/u/kazamaru) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-17 16:47] 0crat commented on #107
You @kazamaru[/z](https://www.0crat.com/u/kazamaru) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-17 16:47] 0crat commented on #106
You @kazamaru[/z](https://www.0crat.com/u/kazamaru) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-17 16:47] 0crat commented on #105
You @kazamaru[/z](https://www.0crat.com/u/kazamaru) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-17 16:48] 0crat commented on #22
You @kazamaru[/z](https://www.0crat.com/u/kazamaru) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-17 18:23] #67 closed

[2019-09-17 18:38] paulodamaso commented on #15
@SilasReinagel But what should I do? We don't have automated tests and the compilation and execution of the game is handled by the unity IDE. How could I execute it in an automated way?

[2019-09-17 18:45] SilasReinagel commented on #15
@paulodamaso How about researching Unity Cloud Build?

https://learn.unity.com/tutorial/unity-cloud-build#5c7f8528edbc2a002053b45b

There might be other options too. How about you create a proposal for how we can do this with a couple options, and then open a puzzle for setting it up?

[2019-09-17 18:46] 0crat commented on #67
Job `gh:enigmadragons/projectneon#67` is not assigned, can't get performer

[2019-09-17 18:47] 0crat commented on #67
The job [#67](https://github.com/enigmadragons/projectneon/issues/67) is now out of scope

[2019-09-17 18:49] #29 closed

[2019-09-17 18:49] 0pdd opened #115 "EnemyVisualizer.cs:26-28: Wire enemy setup with correct..."
The puzzle `29-0112573d` from EnigmaDragons/ProjectNeon#29 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/c7efcda6d4de3703ef5016d14ee9466252c95fbf/src/ProjectNeon/Assets/Battle/Enemies/EnemyVisualizer.cs#L26-L28

The puzzle was created by Paulo Lobo on 17-Sep-19.

Estimate: 5 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead

[2019-09-17 18:49] 0pdd commented on #29
@SilasReinagel the puzzle [#115](https://github.com/EnigmaDragons/ProjectNeon/issues/115) is still not solved.

[2019-09-17 18:50] 0crat commented on #115
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-17 20:24] SilasReinagel opened #116 "Create Event Tutorial"

[2019-09-17 22:59] #116 closed

[2019-09-17 23:19] SilasReinagel commented on #115
@0crat in

[2019-09-18 00:54] SilasReinagel opened #118 "Setup Unit Testing for Project"

[2019-09-18 00:55] 0pdd opened #119 "EncounterBuilder.cs:22: Evolve Encounter Generation after..."
The puzzle `52-6065c661` from EnigmaDragons/ProjectNeon#52 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/2fd3e4b91a8c0e83d34dcbbe2fe01945828d0a43/src/ProjectNeon/Assets/Enemies/EncounterBuilder.cs#L22-L22

The puzzle was created by Paulo Lobo on 18-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The

[2019-09-18 00:55] 0pdd opened #120 "EncounterBuilder.cs:25-27: After #29 merge, wire..."
The puzzle `52-9b90bd88` from EnigmaDragons/ProjectNeon#52 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/2fd3e4b91a8c0e83d34dcbbe2fe01945828d0a43/src/ProjectNeon/Assets/Enemies/EncounterBuilder.cs#L25-L27

The puzzle was created by Paulo Lobo on 18-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The

[2019-09-18 00:55] 0pdd commented on #52
@SilasReinagel 2 puzzles [#119](https://github.com/EnigmaDragons/ProjectNeon/issues/119), [#120](https://github.com/EnigmaDragons/ProjectNeon/issues/120) are still not solved.

[2019-09-18 00:56] SilasReinagel commented on #120
@0crat in

[2019-09-18 01:55] #118 closed

[2019-09-18 01:57] SilasReinagel commented on #118
@paulodamaso Unit Tests are now added to the Project.

They should work both in your IDE, and in the Unity Test Runner.

Since you can't normally instantiate MonoBehavior Objects, we can create testable copies of things using the `TestableObjectFactory`.

Since `[SerializeField] private` fields can't be accessed or set from Test, Create an `Init` method that behaves like a `ctor` for testability.

[2019-09-18 05:21] #81 closed

[2019-09-18 05:22] 0pdd commented on #30
@SilasReinagel 2 puzzles [#79](https://github.com/EnigmaDragons/ProjectNeon/issues/79), [#80](https://github.com/EnigmaDragons/ProjectNeon/issues/80) are still not solved; solved: [#78](https://github.com/EnigmaDragons/ProjectNeon/issues/78), [#81](https://github.com/EnigmaDragons/ProjectNeon/issues/81).

[2019-09-18 10:33] 0crat commented on #115
@SilasReinagel Job [#115](https://github.com/enigmadragons/projectneon/issues/115) is now in scope, role is `DEV`

[2019-09-18 10:33] 0crat commented on #120
@SilasReinagel Job [#120](https://github.com/enigmadragons/projectneon/issues/120) is now in scope, role is `DEV`

[2019-09-18 10:36] 0crat commented on #116
Job [#116](https://github.com/enigmadragons/projectneon/issues/116) is closed, can't start order

[2019-09-18 10:55] 0crat commented on #81
Job [#81](https://github.com/enigmadragons/projectneon/issues/81) is closed, can't start order

[2019-09-18 11:00] 0crat commented on #119
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-18 11:02] 0crat commented on #120
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-18 11:09] 0crat commented on #118
Job [#118](https://github.com/enigmadragons/projectneon/issues/118) is closed, can't start order

[2019-09-18 13:09] paulodamaso commented on #57
@SilasReinagel Shouldn't the initial states of these objects be provided programatically? Deck composition, party members, Current Battle and Library are all cretaed a runtime after a match is started, not at design time

[2019-09-18 13:12] 0crat commented on #118
Job `gh:enigmadragons/projectneon#118` is not assigned, can't get performer

[2019-09-18 13:12] 0crat commented on #116
Job `gh:enigmadragons/projectneon#116` is not assigned, can't get performer

[2019-09-18 13:12] 0crat commented on #81
Job `gh:enigmadragons/projectneon#81` is not assigned, can't get performer

[2019-09-18 13:31] 0crat commented on #116
This job is not in scope

[2019-09-18 13:31] 0crat commented on #118
This job is not in scope

[2019-09-18 13:31] 0crat commented on #81
The job [#81](https://github.com/enigmadragons/projectneon/issues/81) is now out of scope

[2019-09-18 17:45] SilasReinagel commented on #57
@paulodamaso Yes. They should be provided programmatically, and should NOT be part of the the state of the Effect ScriptableObjects.

There might be a misunderstanding. A ScriptableObject is something that permanently exists, even when the game is not running. So `CurrentBattle` and `CurrentLibrary` actually can exist even before runtime.

[2019-09-18 20:10] SilasReinagel opened #124 "Document Basic Object Relationships Design"

[2019-09-18 23:06] SilasReinagel opened #125 "Move Characters and Battle Background out of UI in Battle Scene"

[2019-09-18 23:08] 0crat commented on #125
The job [#125](https://github.com/enigmadragons/projectneon/issues/125) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/5b7c5aba-a9d3-40ae-901b-c3210e0ba36e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-18 23:09] 0crat commented on #125
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-18 23:09] 0crat commented on #125
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-18 23:09] 0crat commented on #125
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-18 23:36] #125 closed

[2019-09-18 23:50] 0crat commented on #120
The job [#120](https://github.com/enigmadragons/projectneon/issues/120) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/e54dbe98-df6d-40b7-902d-1b29f3494910); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-18 23:52] 0crat commented on #120
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-18 23:52] 0crat commented on #125
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-18 23:53] 0crat commented on #125
The job [#125](https://github.com/enigmadragons/projectneon/issues/125) is now out of scope

[2019-09-18 23:53] 0crat commented on #125
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-19 00:30] #120 closed

[2019-09-19 00:56] 0pdd commented on #115
The puzzle `29-0112573d` has disappeared from the source code, that's why I closed this issue.

[2019-09-19 00:56] #115 closed

[2019-09-19 00:56] 0pdd opened #130 "PartyVisualizer.cs:11: Dynamically create Characters from..."
The puzzle `125-3109d1f9` from EnigmaDragons/ProjectNeon#125 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/99df52a6287f41b27eb3ae7e72fd452b159ddabe/src/ProjectNeon/Assets/Battle/Party/PartyVisualizer.cs#L11-L11

The puzzle was created by Silas Reinagel on 19-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets in

[2019-09-19 00:56] 0pdd commented on #28
@SilasReinagel the only puzzle [#109](https://github.com/EnigmaDragons/ProjectNeon/issues/109) is solved here.

[2019-09-19 00:56] 0pdd commented on #29
@SilasReinagel the only puzzle [#115](https://github.com/EnigmaDragons/ProjectNeon/issues/115) is solved here.

[2019-09-19 00:56] 0pdd commented on #52
@SilasReinagel the puzzle [#119](https://github.com/EnigmaDragons/ProjectNeon/issues/119) is still not solved; solved: [#120](https://github.com/EnigmaDragons/ProjectNeon/issues/120).

[2019-09-19 00:56] 0pdd commented on #125
@SilasReinagel the puzzle [#130](https://github.com/EnigmaDragons/ProjectNeon/issues/130) is still not solved.

[2019-09-19 00:57] 0crat commented on #130
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-19 01:19] #52 closed

[2019-09-19 01:41] SilasReinagel opened #131 "Organize All ScriptableObject Menu Items"

[2019-09-19 02:01] #112 closed

[2019-09-19 02:01] 0pdd commented on #90
@SilasReinagel the only puzzle [#112](https://github.com/EnigmaDragons/ProjectNeon/issues/112) is solved here.

[2019-09-19 02:04] SilasReinagel opened #133 "Once all Cards Selected, hide the hand, and move all Play Zone cards to Resolution Area"
See this video: https://youtu.be/xMrdxMn7wN0?t=164
Once Player and Enemy have selected their Cards:
- Hide the player hand.
- Move all card from the Player Play Zone to the Resolution Zone
- Resolution Zone should be visible at the bottom of the screen

[2019-09-19 02:04] SilasReinagel commented on #133
@0crat in

[2019-09-19 08:14] #131 closed

[2019-09-19 08:57] WhimsySoftware commented on #99
Now there is nothing in the project that would cause damage. Should I make a universal module, without binding to specific scripts?

[2019-09-19 15:22] SilasReinagel commented on #99
@WhimsySoftware Just focus on the visual effect.

We will wire in actual damage in a future ticket.

You may create any object you like for developing/debugging.

[2019-09-19 15:47] 0crat commented on #115
Job `gh:enigmadragons/projectneon#115` is not assigned, can't get performer

[2019-09-19 15:47] 0crat commented on #112
Job [#112](https://github.com/enigmadragons/projectneon/issues/112) is closed, can't start order

[2019-09-19 15:48] 0crat commented on #133
@SilasReinagel Job [#133](https://github.com/enigmadragons/projectneon/issues/133) is now in scope, role is `DEV`

[2019-09-19 15:48] 0crat commented on #112
Job `gh:enigmadragons/projectneon#112` is not assigned, can't get performer

[2019-09-19 15:50] 0crat commented on #60
You @whimsysoftware[/z](https://www.0crat.com/u/whimsysoftware) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-19 15:53] 0crat commented on #131
Job `gh:enigmadragons/projectneon#131` is not assigned, can't get performer

[2019-09-19 15:54] 0crat commented on #133
You @whimsysoftware[/z](https://www.0crat.com/u/whimsysoftware) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-19 15:54] 0crat commented on #131
Job [#131](https://github.com/enigmadragons/projectneon/issues/131) is closed, can't start order

[2019-09-19 15:54] 0crat commented on #120
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-19 15:54] 0crat commented on #115
The job [#115](https://github.com/enigmadragons/projectneon/issues/115) is now out of scope

[2019-09-19 16:13] 0crat commented on #112
This job is not in scope

[2019-09-19 16:38] 0crat commented on #131
This job is not in scope

[2019-09-19 16:40] 0crat commented on #120
The job [#120](https://github.com/enigmadragons/projectneon/issues/120) is now out of scope

[2019-09-19 16:43] 0crat commented on #52
The job [#52](https://github.com/enigmadragons/projectneon/issues/52) is now out of scope

[2019-09-19 16:44] 0crat commented on #120
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-19 16:46] 0crat commented on #52
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-19 16:50] 0crat commented on #133
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-19 19:58] #124 closed

[2019-09-19 20:15] 0crat commented on #124
Job `gh:enigmadragons/projectneon#124` is not assigned, can't get performer

[2019-09-19 20:15] 0crat commented on #124
This job is not in scope

[2019-09-20 02:53] SilasReinagel opened #137 "DeckBuilder: Display Decklist for Selected Character"
Like Decklist on right: https://techraptor.net/wp-content/uploads/2019/04/steamworld-quest-deck-building.jpg

[2019-09-20 02:54] SilasReinagel opened #138 "DeckBuilder: Display Cards in main pane, with pagination. 8 Cards per page"

[2019-09-20 02:55] SilasReinagel opened #139 "DeckBuilder: Display Icons for all Party Members. Switch Decklists on Selection"
Can be at the top of the screen like this:

https://techraptor.net/wp-content/uploads/2019/04/steamworld-quest-deck-building.jpg

[2019-09-20 02:58] 0crat commented on #91
The job [#91](https://github.com/enigmadragons/projectneon/issues/91) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/fcc023b2-f3f5-4299-9761-761d75dd50d4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-20 02:59] 0crat commented on #91
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 02:59] 0crat commented on #91
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 02:59] 0crat commented on #91
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 03:29] 0crat commented on #57
The job [#57](https://github.com/enigmadragons/projectneon/issues/57) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/ee939d06-515e-4418-af48-560e6644d3cb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-20 03:29] 0crat commented on #57
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.11](https://github.com/zerocracy/farm): CID: [26720754-63c6-4a90-9c5d-386bfdcf4551](https://www.0crat.com/footprint/CN3V1M4AU/26720754-63c6-4a90-9c5d-386bfdcf4551), Type: "Order was canceled"

[2019-09-20 03:29] 0crat commented on #57
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 03:29] 0crat commented on #57
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 03:55] #57 closed

[2019-09-20 03:56] 0pdd opened #141 "BattleState.cs:7: Initialize this when the Encounter is..."
The puzzle `1-a7548459` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/dfe1b4f184258b9cee14b942bfba8ce5856bac75/src/ProjectNeon/Assets/State/Templates/BattleState.cs#L7-L7

The puzzle was created by Silas Reinagel on 20-Sep-19.

Estimate: 10 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead.

[2019-09-20 03:56] 0pdd opened #142 "BattleState.cs:10: Replace this with Member once..."
The puzzle `1-d60e1d36` from #1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/dfe1b4f184258b9cee14b942bfba8ce5856bac75/src/ProjectNeon/Assets/State/Templates/BattleState.cs#L10-L10

The puzzle was created by Silas Reinagel on 20-Sep-19.

Estimate: 10 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2019-09-20 03:56] 0pdd opened #143 "CharacterPool.cs:6: Is this really a state structure? Is..."
The puzzle `1-6bb15ff3` from #1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/dfe1b4f184258b9cee14b942bfba8ce5856bac75/src/ProjectNeon/Assets/State/Templates/CharacterPool.cs#L6-L6

The puzzle was created by Silas Reinagel on 20-Sep-19.

Estimate: 10 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2019-09-20 03:56] 0pdd opened #144 "Library.cs:5: Update Squad Selection to use Unlocked..."
The puzzle `1-46be98b3` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/dfe1b4f184258b9cee14b942bfba8ce5856bac75/src/ProjectNeon/Assets/State/Templates/Library.cs#L5-L5

The puzzle was created by Silas Reinagel on 20-Sep-19.

Estimate: 10 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The

[2019-09-20 03:56] 0pdd opened #145 "Party.cs:5: change this to a dynamic size array"
The puzzle `1-59281c3f` from #1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/dfe1b4f184258b9cee14b942bfba8ce5856bac75/src/ProjectNeon/Assets/State/Templates/Party.cs#L5-L5

The puzzle was created by Silas Reinagel on 20-Sep-19.

Estimate: 10 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2019-09-20 03:56] 0pdd commented on #1
@SilasReinagel 7 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#103](https://github.com/EnigmaDragons/ProjectNeon/issues/103), [#141](https://github.com/EnigmaDragons/ProjectNeon/issues/141), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#143](https://github.com/EnigmaDragons/ProjectNeon/issues/143), [#144](https://github.com/EnigmaDragons/ProjectNeo

[2019-09-20 03:56] 0crat commented on #145
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-20 03:56] 0crat commented on #144
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-20 03:57] 0crat commented on #143
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-20 03:57] 0crat commented on #142
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-20 03:57] 0crat commented on #141
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-20 04:14] 0crat commented on #57
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-20 04:14] 0crat commented on #57
The job [#57](https://github.com/enigmadragons/projectneon/issues/57) is now out of scope

[2019-09-20 04:15] 0crat commented on #57
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 05:31] SilasReinagel commented on #141
@0crat in

[2019-09-20 05:32] 0crat commented on #141
@SilasReinagel Job [#141](https://github.com/enigmadragons/projectneon/issues/141) is now in scope, role is `DEV`

[2019-09-20 05:32] #91 closed

[2019-09-20 05:32] 0pdd opened #147 "SelectCardTargets.cs:36: When Target Selection Starts,..."
The puzzle `1-291ad423` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f2072051f2e9355d46b9d008f924132e1e007050/src/ProjectNeon/Assets/Features/Battle/Cards/SelectCardTargets.cs#L36-L36

The puzzle was created by Silas Reinagel on 20-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tic

[2019-09-20 05:32] 0pdd opened #148 "SelectCardTargets.cs:48: Get Possible Targets,as per Card..."
The puzzle `1-063bd082` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f2072051f2e9355d46b9d008f924132e1e007050/src/ProjectNeon/Assets/Features/Battle/Cards/SelectCardTargets.cs#L48-L48

The puzzle was created by Silas Reinagel on 20-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tic

[2019-09-20 05:32] 0pdd opened #149 "SelectCardTargets.cs:49: Create UI Indicator that can..."
The puzzle `1-e3c83eb8` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f2072051f2e9355d46b9d008f924132e1e007050/src/ProjectNeon/Assets/Features/Battle/Cards/SelectCardTargets.cs#L49-L49

The puzzle was created by Silas Reinagel on 20-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tic

[2019-09-20 05:32] 0pdd commented on #1
@SilasReinagel 10 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#103](https://github.com/EnigmaDragons/ProjectNeon/issues/103), [#141](https://github.com/EnigmaDragons/ProjectNeon/issues/141), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#143](https://github.com/EnigmaDragons/ProjectNeon/issues/143), [#144](https://github.com/EnigmaDragons/ProjectNe

[2019-09-20 05:32] SilasReinagel commented on #149
@0crat in

[2019-09-20 05:33] SilasReinagel commented on #147
@0crat in

[2019-09-20 05:33] 0crat commented on #149
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-20 05:33] SilasReinagel commented on #148
@0crat in

[2019-09-20 05:33] 0crat commented on #148
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-20 05:33] 0crat commented on #147
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-20 05:42] SilasReinagel opened #150 "Create Mathematical Justification for Cards Draft"
All cards should be flavorful while being mathematically viable. The draft will be modified in actual testing.
On a spreadsheet all status effects should have a numeric value, all modifiers have a multiplicative justification, etc.

[2019-09-20 05:42] SilasReinagel opened #151 "Create Resources & Costs"
Role: DESIGN

Size: 1 unit / 15 min

[2019-09-20 05:42] SilasReinagel opened #152 "Create Status Effects List"
Create 10+ Status Effects

[2019-09-20 05:44] 0crat commented on #149
@SilasReinagel Job [#149](https://github.com/enigmadragons/projectneon/issues/149) is now in scope, role is `DEV`

[2019-09-20 05:44] 0crat commented on #148
@SilasReinagel Job [#148](https://github.com/enigmadragons/projectneon/issues/148) is now in scope, role is `DEV`

[2019-09-20 05:45] #144 closed

[2019-09-20 05:45] 0pdd commented on #143
The puzzle `1-6bb15ff3` has disappeared from the source code, that's why I closed this issue.

[2019-09-20 05:45] #143 closed

[2019-09-20 05:45] 0pdd commented on #1
@SilasReinagel 8 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#103](https://github.com/EnigmaDragons/ProjectNeon/issues/103), [#141](https://github.com/EnigmaDragons/ProjectNeon/issues/141), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeo

[2019-09-20 05:46] #85 closed

[2019-09-20 05:47] 0crat commented on #147
@SilasReinagel Job [#147](https://github.com/enigmadragons/projectneon/issues/147) is now in scope, role is `DEV`

[2019-09-20 05:47] SilasReinagel commented on #102
@0crat in

[2019-09-20 05:52] #141 closed

[2019-09-20 05:53] 0pdd commented on #1
@SilasReinagel 7 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#103](https://github.com/EnigmaDragons/ProjectNeon/issues/103), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#148](https://github.com/EnigmaDragons/ProjectNeo

[2019-09-20 06:03] 0crat commented on #144
The job [#144](https://github.com/enigmadragons/projectneon/issues/144) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/851b1fae-8d3a-4bd2-adcd-59d2a0384e7b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-20 06:07] 0crat commented on #143
Job [#143](https://github.com/enigmadragons/projectneon/issues/143) is closed, can't start order

[2019-09-20 06:10] 0crat commented on #102
@SilasReinagel Job [#102](https://github.com/enigmadragons/projectneon/issues/102) is now in scope, role is `DEV`

[2019-09-20 06:10] 0crat commented on #91
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-20 06:10] 0crat commented on #141
Job [#141](https://github.com/enigmadragons/projectneon/issues/141) is closed, can't start order

[2019-09-20 06:10] 0crat commented on #152
The job [#152](https://github.com/enigmadragons/projectneon/issues/152) assigned to @kazamaru[/z](https://www.0crat.com/u/kazamaru), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/8faabbde-122b-42e0-8aac-2589806581ab); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2019-09-20 06:10] 0crat commented on #150
The job [#150](https://github.com/enigmadragons/projectneon/issues/150) assigned to @kazamaru[/z](https://www.0crat.com/u/kazamaru), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/335e43b8-8ef6-4bf0-9cf5-1c7da84d16a9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2019-09-20 06:10] 0crat commented on #143
Job `gh:enigmadragons/projectneon#143` is not assigned, can't get performer

[2019-09-20 06:11] 0crat commented on #85
Job `gh:enigmadragons/projectneon#85` is not assigned, can't get performer

[2019-09-20 06:11] 0crat commented on #144
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:11] 0crat commented on #151
The job [#151](https://github.com/enigmadragons/projectneon/issues/151) assigned to @kazamaru[/z](https://www.0crat.com/u/kazamaru), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/9a5afc63-14b1-4b31-83cf-9e8a2837a8dd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2019-09-20 06:11] 0crat commented on #141
Job `gh:enigmadragons/projectneon#141` is not assigned, can't get performer

[2019-09-20 06:12] 0crat commented on #143
This job is not in scope

[2019-09-20 06:12] 0crat commented on #144
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-20 06:12] 0crat commented on #85
The job [#85](https://github.com/enigmadragons/projectneon/issues/85) is now out of scope

[2019-09-20 06:12] 0crat commented on #91
The job [#91](https://github.com/enigmadragons/projectneon/issues/91) is now out of scope

[2019-09-20 06:12] 0crat commented on #141
The job [#141](https://github.com/enigmadragons/projectneon/issues/141) is now out of scope

[2019-09-20 06:12] 0crat commented on #152
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:12] SilasReinagel opened #155 "Create Shop Scene"

[2019-09-20 06:12] 0crat commented on #150
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:13] 0crat commented on #151
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:13] 0crat commented on #152
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:13] 0crat commented on #91
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:13] 0crat commented on #150
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:14] 0crat commented on #144
The job [#144](https://github.com/enigmadragons/projectneon/issues/144) is now out of scope

[2019-09-20 06:14] 0crat commented on #151
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:14] 0crat commented on #144
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:15] 0crat commented on #155
The job [#155](https://github.com/enigmadragons/projectneon/issues/155) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/0e33c09f-ba52-4254-93bd-0efa046e7878); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-20 06:15] 0crat commented on #155
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:15] 0crat commented on #155
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:16] 0crat commented on #155
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:34] #155 closed

[2019-09-20 06:38] SilasReinagel opened #157 "Game Progression: Create Stage With Segments"

[2019-09-20 06:50] 0crat commented on #157
The job [#157](https://github.com/enigmadragons/projectneon/issues/157) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/9e3e766b-ed4f-4777-bcec-722bbfc7fc4c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-20 06:51] 0crat commented on #157
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:51] 0crat commented on #157
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:51] 0crat commented on #155
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-20 06:52] 0crat commented on #155
The job [#155](https://github.com/enigmadragons/projectneon/issues/155) is now out of scope

[2019-09-20 06:52] 0crat commented on #155
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 06:52] 0crat commented on #157
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 07:01] #157 closed

[2019-09-20 07:01] 0pdd opened #159 "SpecificEncounterSegment.cs:13: Setup Custom Encounter,..."
The puzzle `1-dc32693b` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/76ba10e0cc7caefa416b542caf9f4b10a2555c1c/src/ProjectNeon/Assets/Features/GameProgression/SpecificEncounterSegment.cs#L13-L13

The puzzle was created by Silas Reinagel on 20-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, subm

[2019-09-20 07:01] 0pdd commented on #1
@SilasReinagel 8 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#103](https://github.com/EnigmaDragons/ProjectNeon/issues/103), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#148](https://github.com/EnigmaDragons/ProjectNeo

[2019-09-20 07:02] 0crat commented on #159
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-20 07:03] SilasReinagel commented on #159
@0crat in

[2019-09-20 07:09] 0crat commented on #159
@SilasReinagel Job [#159](https://github.com/enigmadragons/projectneon/issues/159) is now in scope, role is `DEV`

[2019-09-20 07:18] 0crat commented on #157
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-20 07:18] 0crat commented on #157
The job [#157](https://github.com/enigmadragons/projectneon/issues/157) is now out of scope

[2019-09-20 07:18] 0crat commented on #157
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-20 12:49] 0crat commented on #139
You @whimsysoftware[/z](https://www.0crat.com/u/whimsysoftware) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-20 12:50] 0crat commented on #137
You @whimsysoftware[/z](https://www.0crat.com/u/whimsysoftware) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-20 14:30] paulodamaso commented on #145
@SilasReinagel just for reminding you that `Party` will be replaced by `Team` concept according to new specs, so I'd avoid to change anything at it until we have #54 merged

[2019-09-20 16:51] SilasReinagel commented on #60
@WhimsySoftware Can you create a PR for this?

[2019-09-20 16:51] SilasReinagel commented on #133
@WhimsySoftware Can you create a PR for this?

[2019-09-20 20:20] SilasReinagel commented on #145
@paulodamaso Sounds great. I haven't put this ticket in scope yet. Maybe we won't even need it.

[2019-09-20 23:41] 0crat commented on #54
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-21 01:11] 0crat commented on #137
Job `gh:enigmadragons/projectneon#137` is not assigned, can't get performer

[2019-09-21 01:12] 0crat commented on #137
This job is not in scope

[2019-09-21 01:21] #152 closed

[2019-09-21 01:22] SilasReinagel opened #161 "Create Reward Scene"

[2019-09-21 01:29] 0crat commented on #161
The job [#161](https://github.com/enigmadragons/projectneon/issues/161) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/882353c9-2f05-4ec2-ade2-f6570f10dc3f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-21 01:29] #161 closed

[2019-09-21 01:38] 0crat commented on #161
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-21 01:38] 0crat commented on #161
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-21 01:47] 0crat commented on #161
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-21 01:50] 0crat commented on #152
Job was finished in 19 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-21 01:50] 0crat commented on #161
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-21 01:50] 0crat commented on #152
The job [#152](https://github.com/enigmadragons/projectneon/issues/152) is now out of scope

[2019-09-21 01:50] 0crat commented on #152
Order was finished: +35 point(s) just awarded to @kazamaru[/z](https://www.0crat.com/u/kazamaru)

[2019-09-21 01:51] 0crat commented on #161
The job [#161](https://github.com/enigmadragons/projectneon/issues/161) is now out of scope

[2019-09-21 01:51] 0crat commented on #161
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-21 03:55] #151 closed

[2019-09-21 03:55] #22 closed

[2019-09-21 04:12] 0crat commented on #151
@kazamaru[/z](https://www.0crat.com/u/kazamaru) the issue is closed not by @SilasReinagel (its creator); I won't close the order; please, re-open it and ask @SilasReinagel to close it

[2019-09-21 04:12] 0crat commented on #22
Job `gh:enigmadragons/projectneon#22` is not assigned, can't get performer

[2019-09-21 04:12] 0crat commented on #22
This job is not in scope

[2019-09-21 20:55] SilasReinagel opened #164 "Attach Navigator as a Script to each Scene UI"

[2019-09-21 20:56] 0crat commented on #164
The job [#164](https://github.com/enigmadragons/projectneon/issues/164) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/09c6d8a4-f712-48d3-93ab-e67ce82f318b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-21 20:56] 0crat commented on #164
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-21 20:56] 0crat commented on #164
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-21 20:56] 0crat commented on #164
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-21 21:20] #164 closed

[2019-09-21 21:20] 0pdd commented on #103
The puzzle `1-1504dc6a` has disappeared from the source code, that's why I closed this issue.

[2019-09-21 21:20] #103 closed

[2019-09-21 21:20] 0pdd opened #166 "puzzles.md:9: During Resolution Phase, execute all card..."
The puzzle `1-a2e62cb4` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/11b2ea5b4e310fb6b6a98448beb0370e9df2e261/puzzles.md#L9-L9

The puzzle was created by Silas Reinagel on 21-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2019-09-21 21:20] 0pdd opened #167 "puzzles.md:10: Rebuild Victory and Defeat Scenes using..."
The puzzle `1-4d1459e0` from #1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/11b2ea5b4e310fb6b6a98448beb0370e9df2e261/puzzles.md#L10-L10

The puzzle was created by Silas Reinagel on 21-Sep-19.

Estimate: 20 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text o

[2019-09-21 21:20] 0pdd commented on #1
@SilasReinagel 9 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#148](https://github.com/EnigmaDragons/ProjectNeon/issues/148), [#149](https://github.com/EnigmaDragons/ProjectNeo

[2019-09-21 21:20] 0crat commented on #167
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-21 21:20] 0crat commented on #166
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-21 21:41] 0crat commented on #103
Job `gh:enigmadragons/projectneon#103` is not assigned, can't get performer

[2019-09-21 21:42] 0crat commented on #164
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-21 21:42] 0crat commented on #103
This job is not in scope

[2019-09-21 21:43] 0crat commented on #164
The job [#164](https://github.com/enigmadragons/projectneon/issues/164) is now out of scope

[2019-09-21 21:43] 0crat commented on #164
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-21 23:23] SilasReinagel opened #168 "Game Progression: Game Scene Should Advance Through the Stage Segments"

[2019-09-21 23:25] 0crat commented on #168
The job [#168](https://github.com/enigmadragons/projectneon/issues/168) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/dfc88166-2cd4-45d6-a00a-492edd27e3f3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-21 23:25] 0crat commented on #168
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-21 23:25] 0crat commented on #168
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-21 23:25] 0crat commented on #168
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-21 23:58] #168 closed

[2019-09-21 23:58] 0pdd opened #170 "Adventure.cs:8: Design. What happens when the adventure..."
The puzzle `1-1643e10c` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/94daa92f329c5fa5fd240a426fc5252223c2dcc4/src/ProjectNeon/Assets/Features/GameProgression/Adventure.cs#L8-L8

The puzzle was created by Silas Reinagel on 21-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets in

[2019-09-21 23:58] 0pdd commented on #1
@SilasReinagel 10 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#148](https://github.com/EnigmaDragons/ProjectNeon/issues/148), [#149](https://github.com/EnigmaDragons/ProjectNe

[2019-09-21 23:58] 0crat commented on #170
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-22 00:15] 0crat commented on #168
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-22 00:16] 0crat commented on #168
The job [#168](https://github.com/enigmadragons/projectneon/issues/168) is now out of scope

[2019-09-22 00:16] 0crat commented on #168
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-22 01:23] SilasReinagel opened #171 "Battle UI: Show Current Deck card counter"

[2019-09-22 01:25] 0crat commented on #171
The job [#171](https://github.com/enigmadragons/projectneon/issues/171) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/e6111abc-de77-4439-9346-d3684926b8bb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-22 01:25] 0crat commented on #171
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-22 01:25] 0crat commented on #171
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-22 01:25] 0crat commented on #171
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-22 02:27] #171 closed

[2019-09-22 02:44] 0crat commented on #171
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-22 02:46] 0crat commented on #171
The job [#171](https://github.com/enigmadragons/projectneon/issues/171) is now out of scope

[2019-09-22 02:47] 0crat commented on #171
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-22 03:07] SilasReinagel opened #173 "Add Shop Stage. Allow it to be used in Adventures"

[2019-09-22 03:10] 0crat commented on #173
The job [#173](https://github.com/enigmadragons/projectneon/issues/173) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/b8baeeb2-7ef8-456c-8d2e-acc109fed6f2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-22 03:10] 0crat commented on #173
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-22 03:10] 0crat commented on #173
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-22 03:10] 0crat commented on #173
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-22 03:25] #173 closed

[2019-09-22 03:43] 0crat commented on #173
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-22 03:43] 0crat commented on #173
The job [#173](https://github.com/enigmadragons/projectneon/issues/173) is now out of scope

[2019-09-22 03:44] 0crat commented on #173
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-22 04:40] 0crat commented on #55
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-23 16:53] SilasReinagel commented on #54
@0crat boost 4x

[2019-09-23 16:55] 0crat commented on #54
@SilasReinagel Boost 4x was set for [#54](https://github.com/enigmadragons/projectneon/issues/54)

[2019-09-23 16:55] 0crat commented on #54
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-23 20:29] #54 closed

[2019-09-23 20:59] 0crat commented on #54
Order was finished: +60 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-23 20:59] 0crat commented on #54
The job [#54](https://github.com/enigmadragons/projectneon/issues/54) is now out of scope

[2019-09-24 04:57] SilasReinagel opened #179 "Update Code Review Guidelines"

[2019-09-24 05:00] 0crat commented on #179
The job [#179](https://github.com/enigmadragons/projectneon/issues/179) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/f24080bd-7af9-4006-8939-faf35bcb1a13); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-24 05:00] 0crat commented on #179
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 05:01] 0crat commented on #179
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 05:01] 0crat commented on #179
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 05:07] #179 closed

[2019-09-24 05:20] SilasReinagel opened #181 "Creatures should have set of Stats"
Should be polymorphic.
- Shield
- MaxShield
- HP
- MaxHP
- PhysAtk
- MagAtk
- Armor
- Lifesteal
- List of Named Resources

[2019-09-24 05:25] 0crat commented on #181
The job [#181](https://github.com/enigmadragons/projectneon/issues/181) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/b1b792e3-b9ff-4b7b-b281-fcefec099f63); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-24 05:25] 0crat commented on #179
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-24 05:26] 0crat commented on #181
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 05:26] 0crat commented on #181
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 05:26] 0crat commented on #181
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 05:26] 0crat commented on #179
The job [#179](https://github.com/enigmadragons/projectneon/issues/179) is now out of scope

[2019-09-24 05:26] 0crat commented on #179
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 06:25] #181 closed

[2019-09-24 06:32] 0pdd opened #185 "Member.cs:5: We have a circular reference between Member..."
The puzzle `1-5a608957` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/c48e7bdc6b3393a73d48fc67509149995d1e8062/src/ProjectNeon/Assets/Data/Templates/Member.cs#L5-L5

The puzzle was created by Silas Reinagel on 24-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The ta

[2019-09-24 06:32] 0pdd opened #186 "Member.cs:11: hp property should not be accessed and..."
The puzzle `54-68849699` from #54 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/c48e7bdc6b3393a73d48fc67509149995d1e8062/src/ProjectNeon/Assets/Data/Templates/Member.cs#L11-L11

The puzzle was created by Silas Reinagel on 24-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2019-09-24 06:32] 0pdd opened #187 "CardAction.cs:9: Create Scope for targeting. We need to..."
The puzzle `54-5139edfc` from #54 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/c48e7bdc6b3393a73d48fc67509149995d1e8062/src/ProjectNeon/Assets/Data/Templates/CardAction.cs#L9-L9

The puzzle was created by Silas Reinagel on 24-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2019-09-24 06:32] 0pdd commented on #1
@SilasReinagel 11 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#148](https://github.com/EnigmaDragons/ProjectNeon/issues/148), [#149](https://github.com/EnigmaDragons/ProjectNe

[2019-09-24 06:32] 0pdd commented on #54
@SilasReinagel 2 puzzles [#186](https://github.com/EnigmaDragons/ProjectNeon/issues/186), [#187](https://github.com/EnigmaDragons/ProjectNeon/issues/187) are still not solved.

[2019-09-24 06:32] 0crat commented on #187
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-24 06:32] 0crat commented on #186
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-24 06:33] 0crat commented on #185
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-24 06:38] SilasReinagel opened #188 "Design Solider Class"

[2019-09-24 06:51] 0crat commented on #181
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-24 06:52] 0crat commented on #188
The job [#188](https://github.com/enigmadragons/projectneon/issues/188) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/ed28cbe5-c389-4aeb-9ef7-d3d5fb45aab9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-09-24 06:52] 0crat commented on #181
The job [#181](https://github.com/enigmadragons/projectneon/issues/181) is now out of scope

[2019-09-24 06:52] 0crat commented on #181
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 06:55] 0crat commented on #188
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 06:55] 0crat commented on #188
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 06:56] 0crat commented on #188
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 07:02] #188 closed

[2019-09-24 07:20] 0crat commented on #188
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-24 07:20] 0crat commented on #188
The job [#188](https://github.com/enigmadragons/projectneon/issues/188) is now out of scope

[2019-09-24 07:21] 0crat commented on #188
Order was finished: +35 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 15:46] SilasReinagel opened #190 "Battle: After Setup is Complete, each Enemy should choose cards and put them in a Card Resolution Zone"
Once all enemies have selected their PlayedCards, a `EnemyTurnsConfirmed` event should be published.

[2019-09-24 15:46] SilasReinagel commented on #190
@0crat in

[2019-09-24 15:47] SilasReinagel commented on #190
@0crat assign @paulodamaso

[2019-09-24 15:52] 0crat commented on #190
@SilasReinagel Job [#190](https://github.com/enigmadragons/projectneon/issues/190) is already in scope

[2019-09-24 15:53] 0crat commented on #190
@SilasReinagel The job [#190](https://github.com/enigmadragons/projectneon/issues/190) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/eac1b71f-f32d-4363-b090-29f6ed68f580); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://w

[2019-09-24 15:55] 0crat commented on #190
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 15:55] 0crat commented on #190
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 17:17] #55 closed

[2019-09-24 17:17] 0pdd opened #191 "Member.cs:12-13: This constructor does not provide values..."
The puzzle `55-ec5d4d31` from #55 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f96426c2f6417d02ddfc91dee24e257645b04cb9/src/ProjectNeon/Assets/Data/Templates/Member.cs#L12-L13

The puzzle was created by Paulo Lobo on 24-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2019-09-24 17:17] 0pdd opened #192 "Enemy.cs:4-8: Enemy class should rename it to something..."
The puzzle `55-ed498e59` from #55 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f96426c2f6417d02ddfc91dee24e257645b04cb9/src/ProjectNeon/Assets/Data/Templates/Enemy.cs#L4-L8

The puzzle was created by Paulo Lobo on 24-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-09-24 17:17] 0pdd opened #193 "BattleState.cs:15-17: We need references to Member Decks..."
The puzzle `55-0d6ba60f` from EnigmaDragons/ProjectNeon#55 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f96426c2f6417d02ddfc91dee24e257645b04cb9/src/ProjectNeon/Assets/State/Templates/BattleState.cs#L15-L17

The puzzle was created by Paulo Lobo on 24-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead.

[2019-09-24 17:17] 0pdd commented on #55
@SilasReinagel 3 puzzles [#191](https://github.com/EnigmaDragons/ProjectNeon/issues/191), [#192](https://github.com/EnigmaDragons/ProjectNeon/issues/192), [#193](https://github.com/EnigmaDragons/ProjectNeon/issues/193) are still not solved.

[2019-09-24 17:17] 0crat commented on #193
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-24 17:18] 0crat commented on #192
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-24 17:18] 0crat commented on #191
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-24 18:05] 0crat commented on #55
The job [#55](https://github.com/enigmadragons/projectneon/issues/55) is now out of scope

[2019-09-24 18:05] 0crat commented on #55
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-24 23:25] SilasReinagel commented on #102
@0crat assign @paulodamaso

[2019-09-24 23:26] 0crat commented on #102
@SilasReinagel The job [#102](https://github.com/enigmadragons/projectneon/issues/102) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/5b832475-773e-4007-8cd2-66a3c777df81); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://w

[2019-09-24 23:26] 0crat commented on #102
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-24 23:49] #190 closed

[2019-09-24 23:49] 0pdd opened #195 "EnemyCardSelection.cs:14-15: Refactor the relation Member..."
The puzzle `190-6706b496` from EnigmaDragons/ProjectNeon#190 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/7aabee3b0e34b5c4d7dcec18a2fb7056bd74838a/src/ProjectNeon/Assets/Features/Battle/Cards/EnemyCardSelection.cs#L14-L15

The puzzle was created by Paulo Lobo on 24-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new ti

[2019-09-24 23:49] 0pdd commented on #190
@SilasReinagel the puzzle [#195](https://github.com/EnigmaDragons/ProjectNeon/issues/195) is still not solved.

[2019-09-24 23:49] 0crat commented on #195
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) please, pay attention to this issue

[2019-09-24 23:54] SilasReinagel commented on #148
This one is now only 15 minutes of work, since the codebase has evolved since it was created.

[2019-09-25 00:06] 0crat commented on #190
Job was finished in 7 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-25 00:17] 0crat commented on #190
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-25 00:17] 0crat commented on #190
The job [#190](https://github.com/enigmadragons/projectneon/issues/190) is now out of scope

[2019-09-25 00:23] 0crat commented on #195
The job [#195](https://github.com/enigmadragons/projectneon/issues/195) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CN3V1M4AU/c316df7e-261a-4ee9-991f-28166984d784); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-09-25 00:23] 0crat commented on #195
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-25 00:49] #102 closed

[2019-09-25 01:07] 0crat commented on #102
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-25 01:16] 0crat commented on #102
The job [#102](https://github.com/enigmadragons/projectneon/issues/102) is now out of scope

[2019-09-25 01:18] 0crat commented on #102
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-25 05:03] 0crat commented on #15
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#15](https://github.com/enigmadragons/projectneon/issues/15), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-09-25 05:03] 0crat commented on #15
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-25 05:39] 0crat commented on #15
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) everybody who has role `DEV` is banned at [#15](https://github.com/enigmadragons/projectneon/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job f

[2019-09-25 06:39] 0crat commented on #151
@kazamaru[/z](https://www.0crat.com/u/kazamaru) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-25 06:40] 0crat commented on #150
@kazamaru[/z](https://www.0crat.com/u/kazamaru) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-25 15:06] SilasReinagel commented on #193
We need references to Enemy Decks, but not to Member decks. This game isnt' about Deck manipulations.

[2019-09-25 15:06] #193 closed

[2019-09-25 15:10] 0crat commented on #193
Job `gh:enigmadragons/projectneon#193` is not assigned, can't get performer

[2019-09-25 17:16] SilasReinagel opened #198 "Cleanup 0crat from Documentation and Project Involvement"

[2019-09-26 00:22] SilasReinagel opened #199 "Sideview - DragonBones Soldier Character Art"
Must have all pieces:
Head,
Torso,
Left Arm,
Right Arm,
Left Elbow,
Right Elbow,
Left Hand,
Right Hand,
Left Thigh,
Right Thigh,
Left Leg,
Right Leg,
Left Foot,
Right Foot

Head like this: ![image.png](https://zube.io/files/enigmadragons/a62381d91a645d61763e5582978b803f-image.png)
Body like this: ![image.png](https://zube.io/files/enigmadragons/b559645ce38169c48348c2fb4ab8d116-image.png)
Gun like

[2019-09-26 00:45] SilasReinagel opened #200 "Split the Alley Battlefield art into Layers"

[2019-09-26 02:04] SilasReinagel opened #201 "Bug: Customize Deck and Saving it Advances the Adventure"
Work Size: 1 unit (15 min)

[2019-09-26 06:19] SilasReinagel commented on #199
Work Budget: 6hrs payment max.
Work assigned to Whimsy Software 2D Artist.

Includes 1-2 revisions.

[2019-09-26 19:27] paulodamaso commented on #201
@SilasReinagel Isn't that supposed to work this way? After we customize the deck and save it, it would move to `GameScene` right?

[2019-09-26 19:33] SilasReinagel commented on #201
@paulodamaso Yes. But right now, whenever you return to the `GameScene`, it thinks the next Segment of the Adventure has been finished. This isn't true if we edited the deck. See `SelectNextStageSegment.cs`

[2019-09-26 19:39] 0pdd commented on #148
The puzzle `1-063bd082` has disappeared from the source code, that's why I closed this issue.

[2019-09-26 19:39] #148 closed

[2019-09-26 19:39] #185 closed

[2019-09-26 19:39] 0pdd commented on #185
The puzzle `1-5a608957` has disappeared from the source code, that's why I closed this issue.

[2019-09-26 19:39] #187 closed

[2019-09-26 19:39] 0pdd commented on #187
The puzzle `54-5139edfc` has disappeared from the source code, that's why I closed this issue.

[2019-09-26 19:39] 0pdd commented on #191
The puzzle `55-ec5d4d31` has disappeared from the source code, that's why I closed this issue.

[2019-09-26 19:39] #191 closed

[2019-09-26 19:39] 0pdd commented on #192
The puzzle `55-ed498e59` has disappeared from the source code, that's why I closed this issue.

[2019-09-26 19:39] #192 closed

[2019-09-26 19:39] #195 closed

[2019-09-26 19:39] 0pdd commented on #195
The puzzle `190-6706b496` has disappeared from the source code, that's why I closed this issue.

[2019-09-26 19:39] 0pdd opened #204 "BattleStateTargetingExtensions.cs:5: Needs to handle..."
The puzzle `1-bb43c585` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/b2cdc09c7b448a0b29cb5845ba1156a1aa32d223/src/ProjectNeon/Assets/Features/Battle/Targeting/BattleStateTargetingExtensions.cs#L5-L5

The puzzle was created by Silas Reinagel on 26-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me,

[2019-09-26 19:39] 0pdd opened #205 "SelectCardTargets.cs:50: Needs to know who Self is, if..."
The puzzle `1-5091fbb9` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/b2cdc09c7b448a0b29cb5845ba1156a1aa32d223/src/ProjectNeon/Assets/Features/Battle/Cards/SelectCardTargets.cs#L50-L50

The puzzle was created by Silas Reinagel on 26-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tic

[2019-09-26 19:39] 0pdd opened #206 "AdventureProgress.cs:17: Adventure should be initialized..."
The puzzle `1-561318d4` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/b2cdc09c7b448a0b29cb5845ba1156a1aa32d223/src/ProjectNeon/Assets/State/Templates/AdventureProgress.cs#L17-L17

The puzzle was created by Silas Reinagel on 26-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets i

[2019-09-26 19:39] 0pdd opened #207 "Card.cs:18: Remove TargetScope and Group. Update..."
The puzzle `1-fbf7b564` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/b2cdc09c7b448a0b29cb5845ba1156a1aa32d223/src/ProjectNeon/Assets/Data/Templates/Card.cs#L18-L18

The puzzle was created by Silas Reinagel on 26-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The ta

[2019-09-26 19:39] 0pdd commented on #1
@SilasReinagel 13 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#149](https://github.com/EnigmaDragons/ProjectNeon/issues/149), [#159](https://github.com/EnigmaDragons/ProjectNe

[2019-09-26 19:39] 0pdd commented on #54
@SilasReinagel the puzzle [#186](https://github.com/EnigmaDragons/ProjectNeon/issues/186) is still not solved; solved: [#187](https://github.com/EnigmaDragons/ProjectNeon/issues/187).

[2019-09-26 19:39] 0pdd commented on #55
@SilasReinagel all 3 puzzles are solved here: [#191](https://github.com/EnigmaDragons/ProjectNeon/issues/191), [#192](https://github.com/EnigmaDragons/ProjectNeon/issues/192), [#193](https://github.com/EnigmaDragons/ProjectNeon/issues/193).

[2019-09-26 19:39] 0pdd commented on #190
@SilasReinagel the only puzzle [#195](https://github.com/EnigmaDragons/ProjectNeon/issues/195) is solved here.

[2019-09-26 19:44] SilasReinagel commented on #205
The puzzle was opened at 1 unit size, but correctly solving this, probably by setting a fixed performer to a card will involve some work.

This one will pay 2 units.

[2019-09-26 19:46] SilasReinagel opened #208 "Rename `Character` to `Hero` everywhere"
1 unit

[2019-09-26 21:28] Kazamaru opened #210 "Make Glossary"
Glossary should be created after PRs for first 36 character cards are merged.

Should include definitions of all custom terms.

[2019-09-26 21:49] #207 closed

[2019-09-26 21:49] 0pdd opened #211 "SelectCardTargets.cs:50-51: Repeat target selection for..."
The puzzle `207-39280bde` from #207 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/6010c620cce49f5c97b59e96482b65106ff479f9/src/ProjectNeon/Assets/Features/Battle/Cards/SelectCardTargets.cs#L50-L51

The puzzle was created by Paulo Lobo on 26-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2019-09-26 21:49] 0pdd opened #212 "PlayedCard.cs:22-25: We need a better solution to link..."
The puzzle `207-45902ab0` from #207 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/6010c620cce49f5c97b59e96482b65106ff479f9/src/ProjectNeon/Assets/Features/Battle/Cards/PlayedCard.cs#L22-L25

The puzzle was created by Paulo Lobo on 26-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2019-09-26 21:49] 0pdd commented on #1
@SilasReinagel 14 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#149](https://github.com/EnigmaDragons/ProjectNeon/issues/149), [#159](https://github.com/EnigmaDragons/ProjectNe

[2019-09-26 21:49] 0pdd commented on #207
@0pdd 2 puzzles [#211](https://github.com/EnigmaDragons/ProjectNeon/issues/211), [#212](https://github.com/EnigmaDragons/ProjectNeon/issues/212) are still not solved.

[2019-09-26 23:37] SilasReinagel commented on #212
This may not be necessary. Since Cards are data and Selections are runtime only, there may be no problem with the current solution.

[2019-09-27 06:56] WhimsySoftware opened #214 "Optimization: Cards pool"
Now cards are destroyed when switching between screens. Need to do a card pool and just change card state, but not destroy it each time.

[2019-09-27 09:44] WhimsySoftware opened #216 "DeckBuilder: Decklist displays current hero deck"
When in the Deck Builder screen, the currently selected Hero's decklist should be linked to the DeckList UI elements.

[2019-09-27 14:51] #137 closed

[2019-09-27 14:56] SilasReinagel commented on #137
Default 2 work units.
Paid - 9/27

[2019-09-27 14:57] SilasReinagel commented on #214
Estimate: 2 units

[2019-09-27 14:58] SilasReinagel commented on #216
Work Size: 2 Units

[2019-09-27 22:41] #199 closed

[2019-09-27 22:44] SilasReinagel opened #217 "Variants of 4-Legged Robot"
Basic robot shape should be done just once.

- Provide 3 different weapons that are attachable
- Provide 3 different body color styles
- In PSD file, ensure that Robot Legs and Torso are separate layers

Inspired by this robot design:
![image.png](https://zube.io/files/enigmadragons/8392cc9a99fadb879a98224a591f6e52-image.png)

[2019-09-28 03:19] 0pdd commented on #206
The puzzle `1-561318d4` has disappeared from the source code, that's why I closed this issue.

[2019-09-28 03:19] #206 closed

[2019-09-28 03:19] 0pdd commented on #1
@SilasReinagel 13 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#149](https://github.com/EnigmaDragons/ProjectNeon/issues/149), [#159](https://github.com/EnigmaDragons/ProjectNe

[2019-09-28 04:40] SilasReinagel commented on #206
Payment due: 30 mins.

[2019-09-28 04:40] SilasReinagel opened #219 "Thinking Music for Squad/Deck/Shop Scenes."

[2019-09-28 04:48] #198 closed

[2019-09-28 04:53] SilasReinagel opened #221 "Battle Theme"

[2019-09-28 04:53] SilasReinagel opened #222 "Title Theme"

[2019-09-28 04:57] SilasReinagel commented on #210
Work Size: 1 unit

[2019-09-28 04:58] SilasReinagel opened #223 "Create Idle Animation for Soldier"

[2019-09-28 04:58] SilasReinagel opened #224 "Setup Git LFS for Assets"

[2019-09-28 05:19] #205 closed

[2019-09-28 05:19] 0pdd commented on #1
@SilasReinagel 12 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#142](https://github.com/EnigmaDragons/ProjectNeon/issues/142), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#149](https://github.com/EnigmaDragons/ProjectNeon/issues/149), [#159](https://github.com/EnigmaDragons/ProjectNe

[2019-09-30 01:21] #149 closed

[2019-09-30 01:25] SilasReinagel opened #227 "Use Arrows to Move Selection Indicator to different Targets"

[2019-09-30 01:54] SilasReinagel opened #228 "Store UI Positions of All Battle Members in State"

[2019-09-30 02:22] SilasReinagel opened #229 "All Battle Members should have Ids"

[2019-09-30 02:38] #229 closed

[2019-09-30 02:43] 0pdd commented on #142
The puzzle `1-d60e1d36` has disappeared from the source code, that's why I closed this issue.

[2019-09-30 02:43] #142 closed

[2019-09-30 02:43] 0pdd opened #232 "BattleState.cs:24: Initialize this as the last step in..."
The puzzle `1-05aa0c81` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/cd4d548e08415104fa5f4b36330ca4d582b115e1/src/ProjectNeon/Assets/State/Templates/BattleState.cs#L24-L24

The puzzle was created by Silas Reinagel on 30-Sep-19.

Estimate: 10 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead

[2019-09-30 02:43] 0pdd opened #233 "Card.cs:9: Limit this by Class. Create StringVariable for..."
The puzzle `1-ecd0ab92` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/cd4d548e08415104fa5f4b36330ca4d582b115e1/src/ProjectNeon/Assets/Data/Templates/Card.cs#L9-L9

The puzzle was created by Silas Reinagel on 30-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2019-09-30 02:43] 0pdd commented on #1
@SilasReinagel 12 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-09-30 03:04] #232 closed

[2019-09-30 03:04] 0pdd commented on #1
@SilasReinagel 11 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-09-30 03:52] #228 closed

[2019-09-30 03:55] SilasReinagel opened #236 "Show Selection Cursor when Player Target Selection Begins. Hide it once it ends"

[2019-09-30 04:06] #236 closed

[2019-09-30 05:22] #227 closed

[2019-09-30 05:22] 0pdd opened #239 "SelectionCursorVisualizer.cs:32: Visualize Multi-Targets"
The puzzle `1-7bd7af14` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/1de71b76e7803e9338ab2bce7ffd608f84ea74f3/src/ProjectNeon/Assets/Features/Battle/Targeting/SelectionCursorVisualizer.cs#L32-L32

The puzzle was created by Silas Reinagel on 30-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, su

[2019-09-30 05:22] 0pdd commented on #1
@SilasReinagel 12 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-09-30 16:20] #60 closed

[2019-09-30 19:12] #208 closed

[2019-09-30 19:13] #130 closed

[2019-09-30 19:13] 0pdd commented on #130
The puzzle `125-3109d1f9` has disappeared from the source code, that's why I closed this issue.

[2019-09-30 19:13] 0pdd opened #241 "PartyVisualizer.cs:11: Dynamically create Heroes from a..."
The puzzle `125-15724e08` from #125 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/545ba81c3b038fd39cc814fea27fa5c53b9809c4/src/ProjectNeon/Assets/Features/Battle/Party/PartyVisualizer.cs#L11-L11

The puzzle was created by Paulo Lobo on 30-Sep-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2019-09-30 19:13] 0pdd commented on #125
@SilasReinagel the puzzle [#241](https://github.com/EnigmaDragons/ProjectNeon/issues/241) is still not solved; solved: [#130](https://github.com/EnigmaDragons/ProjectNeon/issues/130).

[2019-10-01 03:40] #139 closed

[2019-10-01 04:53] #233 closed

[2019-10-01 04:53] 0pdd commented on #1
@SilasReinagel 11 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-10-01 04:54] SilasReinagel opened #244 "Select Cards using Left/Right on keyboard"

[2019-10-01 05:44] #80 closed

[2019-10-01 05:44] 0pdd commented on #30
@SilasReinagel the puzzle [#79](https://github.com/EnigmaDragons/ProjectNeon/issues/79) is still not solved; solved: [#78](https://github.com/EnigmaDragons/ProjectNeon/issues/78), [#80](https://github.com/EnigmaDragons/ProjectNeon/issues/80), [#81](https://github.com/EnigmaDragons/ProjectNeon/issues/81).

[2019-10-01 05:46] SilasReinagel opened #246 "Indicate which card is currently selected"

[2019-10-01 06:43] #246 closed

[2019-10-01 07:45] #244 closed

[2019-10-01 07:45] 0pdd opened #250 "VisualCardSelection.cs:40: Don't allow selection from..."
The puzzle `1-356df253` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/a030363b2316a33cbbed020de665c340378f4ca6/src/ProjectNeon/Assets/Features/Battle/Cards/VisualCardSelection.cs#L40-L40

The puzzle was created by Silas Reinagel on 01-Oct-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new t

[2019-10-01 07:45] 0pdd opened #251 "SelectCardTargets.cs:28: Replace this with..."
The puzzle `1-8e2c9b54` from #1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/a030363b2316a33cbbed020de665c340378f4ca6/src/ProjectNeon/Assets/Features/Battle/Cards/SelectCardTargets.cs#L28-L28

The puzzle was created by Silas Reinagel on 01-Oct-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2019-10-01 07:45] 0pdd commented on #1
@SilasReinagel 13 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-10-02 00:18] #217 closed

[2019-10-02 00:48] SilasReinagel opened #252 "Variants of Attack Drone"
Basic robot shape should be done just once.

    Provide 3 different weapons that are attachable
    Provide 3 different body color styles
    In PSD file, ensure that Body and Rotors are separate layers

Inspired by these designs, but with six spinning rotors:

![image.png](https://zube.io/files/enigmadragons/dd826e91f8dcd8150dccd6d20f25f65f-image.png)
![image.png](https://zube.io/files/enigmadra

[2019-10-02 00:57] #250 closed

[2019-10-02 00:57] 0pdd opened #254 "VisualCardSelection.cs:24: Don't show highlight on Card..."
The puzzle `1-5ed98b25` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/6c048bc7188ee8501d3ee115267b302f02a5eb48/src/ProjectNeon/Assets/Features/Battle/Cards/VisualCardSelection.cs#L24-L24

The puzzle was created by Silas Reinagel on 02-Oct-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new t

[2019-10-02 00:57] 0pdd commented on #1
@SilasReinagel 13 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-10-02 01:16] #254 closed

[2019-10-02 01:16] 0pdd commented on #1
@SilasReinagel 12 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-10-02 01:19] SilasReinagel opened #256 "After 3 Player Cards Are Selected, on Pressing Enter, Proceed to Action Resolution Phase"

[2019-10-02 01:41] #256 closed

[2019-10-02 01:46] SilasReinagel opened #258 "Display Circular Hero Portraits in Upper-Left Screen Corner"

[2019-10-02 02:28] #258 closed

[2019-10-02 02:28] 0pdd opened #261 "PartyBattleUIVisualizer.cs:7: Dynamically Create all Hero..."
The puzzle `1-06202fe5` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/837e9d15a9de26838b1bad6d2765e0685f3e0537/src/ProjectNeon/Assets/Features/Battle/Party/PartyBattleUIVisualizer.cs#L7-L7

The puzzle was created by Silas Reinagel on 02-Oct-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new

[2019-10-02 02:28] 0pdd commented on #1
@SilasReinagel 13 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-10-02 03:28] #216 closed

[2019-10-02 03:29] 0pdd opened #263 "DeckBuilderState.cs:23-24: We need to correctly..."
The puzzle `216-2b2509e5` from EnigmaDragons/ProjectNeon#216 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/22748d8d6d5eaeb27cc096aa300642692a43ccde/src/ProjectNeon/Assets/Features/DeckBuilder/Scripts/DeckBuilderState.cs#L23-L24

The puzzle was created by Paulo Lobo on 02-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit n

[2019-10-02 03:29] 0pdd opened #264 "DeckVisualizer.cs:59-60: Create select card logic. When..."
The puzzle `216-e8577822` from #216 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/22748d8d6d5eaeb27cc096aa300642692a43ccde/src/ProjectNeon/Assets/Features/DeckBuilder/Scripts/DeckVisualizer.cs#L59-L60

The puzzle was created by Paulo Lobo on 02-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2019-10-02 03:29] 0pdd commented on #216
@WhimsySoftware 2 puzzles [#263](https://github.com/EnigmaDragons/ProjectNeon/issues/263), [#264](https://github.com/EnigmaDragons/ProjectNeon/issues/264) are still not solved.

[2019-10-02 04:41] WhimsySoftware commented on #263
@SilasReinagel let me know if I can take this task

[2019-10-02 06:39] SilasReinagel commented on #252
Estimate: 24 units

[2019-10-02 06:40] SilasReinagel commented on #263
@WhimsySoftware Sure. As long as no more than 2 PRs are open at a time right now, you can grab whichever tasks you want from this column.

[2019-10-02 07:06] #261 closed

[2019-10-02 07:07] 0pdd commented on #1
@SilasReinagel 12 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-10-02 07:08] SilasReinagel opened #266 "Battle: Display HP Bar for Each Hero in their UI Status Area (Top-Left)"

[2019-10-02 07:37] #133 closed

[2019-10-02 07:37] 0pdd opened #267 "CardsSelectController.cs:22: 40min Change card rotation..."
The puzzle `133-2f756a25` from EnigmaDragons/ProjectNeon#133 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/9c6bfd1e180c026782fbfe62421fce692f4ecc15/src/ProjectNeon/Assets/Scripts/CardsSelectController.cs#L22-L22

The puzzle was created by WhimsySoftware on 02-Oct-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2019-10-02 07:37] 0pdd opened #268 "CardsSelectController.cs:23: 20min Change card scale..."
The puzzle `133-5ea87400` from EnigmaDragons/ProjectNeon#133 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/9c6bfd1e180c026782fbfe62421fce692f4ecc15/src/ProjectNeon/Assets/Scripts/CardsSelectController.cs#L23-L23

The puzzle was created by WhimsySoftware on 02-Oct-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2019-10-02 07:37] 0pdd commented on #133
@SilasReinagel 2 puzzles [#267](https://github.com/EnigmaDragons/ProjectNeon/issues/267), [#268](https://github.com/EnigmaDragons/ProjectNeon/issues/268) are still not solved.

[2019-10-02 17:15] 0pdd opened #272 "ChangePage.cs:7: 30min Change page by buttons"
The puzzle `141-9f2174f9` from EnigmaDragons/ProjectNeon#141 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f63895c0033341fb7d00ccb18b186a41eb60a2d9/src/ProjectNeon/Assets/Features/DeckBuilder/Scripts/ChangePage.cs#L7-L7

The puzzle was created by WhimsySoftware on 02-Oct-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The ta

[2019-10-02 17:15] 0pdd opened #273 "ChangePage.cs:8: 60min Change page by swipe"
The puzzle `141-d78edd60` from #141 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/f63895c0033341fb7d00ccb18b186a41eb60a2d9/src/ProjectNeon/Assets/Features/DeckBuilder/Scripts/ChangePage.cs#L8-L8

The puzzle was created by WhimsySoftware on 02-Oct-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2019-10-02 17:15] 0pdd commented on #1
@SilasReinagel 14 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-10-02 17:15] 0pdd commented on #141
@0pdd 2 puzzles [#272](https://github.com/EnigmaDragons/ProjectNeon/issues/272), [#273](https://github.com/EnigmaDragons/ProjectNeon/issues/273) are still not solved.

[2019-10-02 17:16] #138 closed

[2019-10-02 19:50] #99 closed

[2019-10-02 22:01] #204 closed

[2019-10-02 22:01] 0pdd commented on #1
@SilasReinagel 13 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-10-03 01:10] #266 closed

[2019-10-03 01:12] SilasReinagel opened #276 "Update Visual Style of Hero Icon in Battle Hud"

[2019-10-03 01:47] #276 closed

[2019-10-03 06:29] WhimsySoftware commented on #214
In order to complete this task, I must do the following:
1) Make the UpdateCurrentCards method in the CardsVisualizer.cs
2) Make the UpdateCurrentCards method in the DeckVisualizer.cs
3) Change the interaction between CardsVisualizers (there are at least two of them on the stage and they individually spawn their cards. Because of this, extra cards appear and the necessary ones are destroyed)
4) Ch

[2019-10-03 16:41] SilasReinagel commented on #214
@WhimsySoftware You can create tickets for the work you think we will need.

1) We just need to tweak this one slightly, to use pooled cards instead of instantiating. I figured that's what this ticket would cover.

2) `DeckVisualizer` only displays summary items. It can use its own pool if needed, but that doesn't seem to be related to this work.

3) Yes. All Visualizers can use the same instance

[2019-10-03 16:43] SilasReinagel opened #280 "Create Transient State data structures for all Battle Members during Battle Setup"
Should be reactive containers for Current HP, Current Armor, Current Shield, Current Resource Counts...etc.

Estimate: 2 units

[2019-10-03 16:44] SilasReinagel opened #281 "Setup Player Prefs for Master/Music/SoundEffect volumes"

[2019-10-03 18:28] #239 closed

[2019-10-03 18:28] 0pdd commented on #1
@SilasReinagel 12 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-10-03 18:40] SilasReinagel opened #282 "DeckBuilder: On Main Card pane fill paged with all Matching Class Cards"
Main pane should display all cards in the Library that match the class of the Current Character.

Next/Previous buttons should be hidden if there is no Next/Previous page.

Create a bunch of test cards for at least one class for visualizing this feature.

Estimate: 2/units

[2019-10-03 18:43] SilasReinagel opened #283 "Obsolete: DeckBuilder: Add/Remove Cards From Current Deck"
Clicking on a card in the main pane, should add a copy to the Deck list.

Clicking on a card in the Decklist should remove one copy of that card, and put a copy back in the Main Pane.

Deck changes should persist.

Estimate: 2 units

[2019-10-03 18:44] SilasReinagel opened #284 "DeckBuilder: Require all Decks to have 12 Cards"
Deck Size should be set as a IntVariable Scriptable object.

From the DeckBuilder screen, the player should not be able to leave the DeckBuilder or to switch active Characters, unless the current deck contains the required number of cards.

An error message should be displayed on Screen if the player attends to do this.

Estimate: 2 units

[2019-10-04 02:12] #272 closed

[2019-10-04 02:12] #273 closed

[2019-10-04 02:12] 0pdd commented on #273
The puzzle `141-d78edd60` has disappeared from the source code, that's why I closed this issue.

[2019-10-04 02:12] 0pdd opened #286 "ClassCardsPages.cs:34: 30min Change page by swipe"
The puzzle `141-bc72627f` from #141 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/4e2517e20a020b7cb1d5a0a712a752c0951d1db0/src/ProjectNeon/Assets/Features/DeckBuilder/Scripts/ClassCardsPages.cs#L34-L34

The puzzle was created by Silas Reinagel on 04-Oct-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2019-10-04 02:12] 0pdd opened #287 "ClassCardsPages.cs:24: Selected relevant cards from..."
The puzzle `1-93fa97b6` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/4e2517e20a020b7cb1d5a0a712a752c0951d1db0/src/ProjectNeon/Assets/Features/DeckBuilder/Scripts/ClassCardsPages.cs#L24-L24

The puzzle was created by Silas Reinagel on 04-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit ne

[2019-10-04 02:12] 0pdd commented on #1
@SilasReinagel 12 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-10-04 02:12] 0pdd commented on #141
@0pdd the puzzle [#286](https://github.com/EnigmaDragons/ProjectNeon/issues/286) is still not solved; solved: [#272](https://github.com/EnigmaDragons/ProjectNeon/issues/272), [#273](https://github.com/EnigmaDragons/ProjectNeon/issues/273).

[2019-10-04 03:08] #280 closed

[2019-10-04 03:08] #186 closed

[2019-10-04 03:08] 0pdd commented on #186
The puzzle `54-68849699` has disappeared from the source code, that's why I closed this issue.

[2019-10-04 03:08] 0pdd opened #289 "MemberState.cs:38: Create a design that allows for..."
The puzzle `1-432c3132` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/ba6f3a1d05ea62acf4d1d73c7571ffdf425df9d2/src/ProjectNeon/Assets/Features/Battle/MemberState.cs#L38-L38

The puzzle was created by Silas Reinagel on 04-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead

[2019-10-04 03:08] 0pdd opened #290 "MemberState.cs:43: Create a design that allows for mods..."
The puzzle `1-6c47ceab` from EnigmaDragons/ProjectNeon#1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/ba6f3a1d05ea62acf4d1d73c7571ffdf425df9d2/src/ProjectNeon/Assets/Features/Battle/MemberState.cs#L43-L43

The puzzle was created by Silas Reinagel on 04-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead

[2019-10-04 03:08] 0pdd commented on #1
@SilasReinagel 14 puzzles [#102](https://github.com/EnigmaDragons/ProjectNeon/issues/102), [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#166](https://github.com/EnigmaDragons/ProjectNeon/issues/166), [#167](https://github.com/EnigmaDragons/ProjectNe

[2019-10-04 03:08] 0pdd commented on #54
@SilasReinagel all 2 puzzles are solved here: [#186](https://github.com/EnigmaDragons/ProjectNeon/issues/186), [#187](https://github.com/EnigmaDragons/ProjectNeon/issues/187).

[2019-10-04 03:17] SilasReinagel opened #291 "Initialize Hero Hud HP"

[2019-10-04 03:32] #291 closed

[2019-10-04 03:33] SilasReinagel opened #293 "Battle: When Resolution Starts, Display Played Cards."

[2019-10-04 19:35] #252 closed

[2019-10-07 07:06] WhimsySoftware commented on #263
@SilasReinagel PR has been updated.

[2019-10-07 07:07] WhimsySoftware commented on #281
@SilasReinagel PR has been updated.

[2019-10-07 07:46] WhimsySoftware commented on #263
@SilasReinagel
Is everything correct in this ticket?

[2019-10-08 16:17] #281 closed

[2019-10-08 16:19] 0pdd opened #299 "KeysEnum.cs:5: 20min Add all possible keys for saved data"
The puzzle `281-d306e82e` from #281 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/dc76916bcb1d82ab6fb1253089fdc97b29cac93c/src/ProjectNeon/Assets/Scripts/KeysEnum.cs#L5-L5

The puzzle was created by WhimsySoftware on 08-Oct-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed an

[2019-10-08 16:19] 0pdd commented on #281
@SilasReinagel the puzzle [#299](https://github.com/EnigmaDragons/ProjectNeon/issues/299) is still not solved.

[2019-10-08 16:23] #210 closed

[2019-10-08 21:21] #282 closed

[2019-10-09 16:10] #263 closed

[2019-10-09 16:58] #166 closed

[2019-10-09 18:37] GraphicEdit opened #304 "Future Corporate Building (battle background) Interior"
Future Corporate  Building A (battle background)
Future Corporate  Building B (battle background)
Future Corporate  Building C (battle background)

[2019-10-09 19:48] paulodamaso commented on #290
@SilasReinagel The solution for EnigmaDragons/ProjectNeon#289 already contemplates this issue, so I think it should be closed

[2019-10-09 19:49] paulodamaso commented on #159
@SilasReinagel It isn't clear what kind of setup we need to do in Custom Encounter.

[2019-10-09 20:06] SilasReinagel commented on #147
@WhimsySoftware I see this ticket in the "Review" column, but I don't see an associated Pull Request.

[2019-10-09 20:34] SilasReinagel opened #305 "GameEvents become corrupted if missing OnDisable"
GameEvents should be able to repair themselves.

Size: 1 unit

[2019-10-10 00:44] #287 closed

[2019-10-10 00:48] SilasReinagel commented on #290
Duplicate of #289

[2019-10-10 00:48] #290 closed

[2019-10-10 01:18] #84 closed

[2019-10-10 01:18] 0pdd commented on #84
The puzzle `31-3fc792ea` has disappeared from the source code, that's why I closed this issue.

[2019-10-10 01:18] 0pdd opened #308 "HeroSelector.cs:12: Wire up to UI. Use this to replace..."
The puzzle `1-151ad2f0` from #1 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/9f82ce7d6055082d530c791e4d7bee188914fb42/src/ProjectNeon/Assets/Features/DeckBuilder/Scripts/HeroSelector.cs#L12-L12

The puzzle was created by Silas Reinagel on 10-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2019-10-10 01:18] 0pdd commented on #31
@SilasReinagel all 3 puzzles are solved here: [#84](https://github.com/EnigmaDragons/ProjectNeon/issues/84), [#85](https://github.com/EnigmaDragons/ProjectNeon/issues/85), [#86](https://github.com/EnigmaDragons/ProjectNeon/issues/86).

[2019-10-10 01:18] 0pdd commented on #1
@SilasReinagel 12 puzzles [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#147](https://github.com/EnigmaDragons/ProjectNeon/issues/147), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#167](https://github.com/EnigmaDragons/ProjectNeon/issues/167), [#170](https://github.com/EnigmaDragons/ProjectNeon/issues/170), [#211](https://github.com/EnigmaDragons/ProjectNe

[2019-10-10 01:19] #305 closed

[2019-10-10 01:27] SilasReinagel opened #309 "Giant Mech Boss"
We need a giant Mech Boss.

  - Provide 3 different body color styles
  - In PSD file, ensure that Legs, Arms, Torso, and Weapons are separate layers

Can be inspired by this. Should be facing more directly towards the left of the screen.

![image.png](https://zube.io/files/enigmadragons/66e199f0439b3004a0a97b32c6ca3501-image.png)

[2019-10-10 01:33] SilasReinagel opened #310 "BattleScene: Initialize Health Bars for Enemies during BattleSetup"
Size: 2 units

[2019-10-10 01:35] SilasReinagel opened #311 "BattleScene: After Resolving Cards Finish Turn and Start Next Turn"
Once all card have been resolved, proceed to BattleTurnWrapUp phase.

Once all BattleTurnWrapUp steps have been completed, start a new Turn.

Ensure that once a new turn has started, player can play new card from his hand.

Size: 2 units

[2019-10-10 01:37] SilasReinagel opened #312 "On Scene Start, Play Music Track if specified and different than current Track"

[2019-10-10 01:39] SilasReinagel opened #313 "Put Enemy Drone placeholder art in game and use as default enemy"

[2019-10-10 01:45] #219 closed

[2019-10-10 14:02] WhimsySoftware opened #317 "Damage to an Enemy"
Size: 2 units

[2019-10-10 17:52] #284 closed

[2019-10-10 17:52] 0pdd opened #319 "DeckBuilderNavigator.cs:27-29: Define and implement how..."
The puzzle `284-a381b1af` from #284 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/0b5eb3cf787bf539d183ffb38b2abb3c8ddf8b55/src/ProjectNeon/Assets/Features/DeckBuilder/Scripts/DeckBuilderNavigator.cs#L27-L29

The puzzle was created by Paulo Lobo on 10-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. T

[2019-10-10 17:52] 0pdd commented on #284
@SilasReinagel the puzzle [#319](https://github.com/EnigmaDragons/ProjectNeon/issues/319) is still not solved.

[2019-10-10 17:58] SilasReinagel commented on #159
The enemies in the Specific Encounter should be setup in the Enemy Area for the battle.

[2019-10-10 23:24] #147 closed

[2019-10-10 23:24] 0pdd commented on #147
The puzzle `1-291ad423` has disappeared from the source code, that's why I closed this issue.

[2019-10-10 23:24] 0pdd commented on #1
@SilasReinagel 11 puzzles [#145](https://github.com/EnigmaDragons/ProjectNeon/issues/145), [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#167](https://github.com/EnigmaDragons/ProjectNeon/issues/167), [#170](https://github.com/EnigmaDragons/ProjectNeon/issues/170), [#211](https://github.com/EnigmaDragons/ProjectNeon/issues/211), [#212](https://github.com/EnigmaDragons/ProjectNe

[2019-10-10 23:54] SilasReinagel opened #320 "Create Test Dummy Hero 1, 2."
Must be able to be put into the party.

[2019-10-11 00:57] #320 closed

[2019-10-11 01:02] SilasReinagel opened #322 "After Squad Selection, PartyArea should be correctly Initialized with selected Members"
Size: 1 unit

[2019-10-11 01:34] SilasReinagel commented on #317
@WhimsySoftware Damage is already being resolved in Resolution phase.

[2019-10-11 01:34] #317 closed

[2019-10-11 01:35] #313 closed

[2019-10-11 01:45] SilasReinagel opened #324 "Convert GameNavigator to a ScriptableObject and fix all Scenes"
Size: 1 unit

[2019-10-11 01:46] SilasReinagel opened #325 "Create Red Drone Card Deck"
Should be a simple and focused design. Deck size is 12 cards. Can have multiples of the same card.

By default, enemies just use `Tech Points` for their resource.

Three possible gun attachments in the art.

![image.png](https://zube.io/files/enigmadragons/57d00f2a858e7b0ba0b7dc94fceb7525-image.png)

[2019-10-11 03:02] #322 closed

[2019-10-11 03:03] #145 closed

[2019-10-11 03:03] 0pdd commented on #1
@SilasReinagel 10 puzzles [#159](https://github.com/EnigmaDragons/ProjectNeon/issues/159), [#167](https://github.com/EnigmaDragons/ProjectNeon/issues/167), [#170](https://github.com/EnigmaDragons/ProjectNeon/issues/170), [#211](https://github.com/EnigmaDragons/ProjectNeon/issues/211), [#212](https://github.com/EnigmaDragons/ProjectNeon/issues/212), [#251](https://github.com/EnigmaDragons/ProjectNe

[2019-10-11 03:06] #224 closed

[2019-10-14 19:40] #201 closed

[2019-10-14 19:47] SilasReinagel opened #329 "Design 9 Solider class cards"

[2019-10-14 19:54] SilasReinagel opened #330 "Write up PreFab guidelines"

[2019-10-14 20:06] #330 closed

[2019-10-15 00:33] #289 closed

[2019-10-15 15:01] WhimsySoftware opened #332 "Create HP bar prefab for BattleWorld"

[2019-10-15 19:24] #311 closed

[2019-10-15 19:24] 0pdd opened #333 "BattleTurnWrapUpPhase.cs:25: 30min Add re-setup battle cards"
The puzzle `311-5f3ce647` from #311 has to be resolved:

https://github.com/EnigmaDragons/ProjectNeon/blob/1025bc5342163dffc304f3ef4cafe0ff708369a3/src/ProjectNeon/Assets/Scripts/BattleTurnWrapUpPhase.cs#L25-L25

The puzzle was created by WhimsySoftware on 15-Oct-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob